dist/dev/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inicio - Iniciativa Idea</title>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="images/global/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/global/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="images/global/favicon-36x36.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="images/global/favicon-48x48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="images/global/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="shortcut icon" href="images/global/favicon-144x144.png" type="image/png" sizes="144x144">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__fixed">
        <div class="c-header__content">
          <div class="c-header__logos"><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-principal" src="images/logos/logo_iniciativa_color.svg" alt="logo - Iniciativa Idea"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideMobil" src="images/logos/logo_planned_black.png" alt="logo - Planned Parenthood"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideEscritorio" src="images/logos/planned-parenthood-vertical.svg" alt="logo - Planned Parenthood"></a>
          </div>
          <nav class="c-header__menu">
            <ul class="c-header__menu-lista">
              <li class="c-header__menu-item cerrar" id="cerrar-menu"><a href="#!"><img src="images/icons/cancel.svg" alt="cerrar"></a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="sections/iniciativa-idea.html">Iniciativa IDEA</a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="#!">Programas</a>
                <ul class="c-header__submenu">
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="sections/idea-inspira.html">IDEA Inspira</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="sections/idea-start.html">IDEA Start</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="sections/comunidad-idea.html">Comunidad IDEA</a></li>
                </ul>
              </li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="sections/https://iniciativaidea.org/">Foro IDEA</a></li>
              <!--li: a(href="#!") News-->
              <!--li: a(href="#!") Convocatorias-->
            </ul>
          </nav>
        </div>
        <div class="c-header__buscar"><a href="#!"><img src="images/icons/i-search.svg"></a></div>
        <div class="c-header__mobil" id="menu-mobil"><img src="images/icons/i-hamburguer.svg"></div>
      </div>
    </header>
    <main id="home">
      <section class="banner bg-lightgray">
        <div class="container">
          <h1><span>Laboratorio</span> de Innovación Social</h1>
          <h2>para los <b>Derechos Reproductivos</b> de América Latina</h2>
        </div><a class="scroll" href="#!"><img src="images/icons/i-arrowdown_gray.svg" alt="icon arrow down gray"></a>
      </section>
      <div class="why">
        <div class="container">
          <article>
            <div class="why-texto">
              <h2>¿Cuál es el desafío?</h2>
              <p>Millones de personas en América Latina enfrentan cada día barreras que obstaculizan el ejercicio de sus derechos reproductivos y que provocan consecuencias muy negativas para ellas, sus familias y sus países.</p>
              <p>¿Tienes idea del desafío que estamos enfrentando?</p>
              <p><a href="sections/iniciativa-idea.html" title="Para saber más...">Para saber más...</a></p>
            </div>
            <div class="why-imagen"><img src="images/home/desafio.jpg" alt="¿Cuál es el desafío?"></div>
          </article>
          <article>
            <div class="why-texto">
              <h2>¿Qué estamos haciendo?</h2>
              <p>La Iniciativa IDEA es el laboratorio de innovación social para los derechos reproductivos en América Latina de Planned Parenthood Global.</p>
              <p>La Iniciativa IDEA impulsa un nuevo ecosistema formado por los sectores de la publicidad, tecnología, medios digitales y emprendimiento de impacto social, que explora la creatividad, la innovación y el talento para transformar cada idea en una solución a los grandes desafíos para la salud y los derechos reproductivos en América Latina.</p>
            </div>
            <div class="why-imagen"><img src="images/home/iniciativa.jpg" alt="Iniciativa Idea"></div>
          </article>
        </div>
      </div>
      <section class="postulate bg-lightgray">
        <div class="container">
          <h2>¿Tienes una IDEA inspiradora?</h2>
          <h3>Buscamos ideas que nos inspiren y que necesitan apoyo para ponerlas en práctica.</h3>
          <p>IDEA Inspira es un programa de <b>convocatoria abierta y permanente</b>, que invita a la exploración de ideas disruptivas en las que la innovación y la creatividad son el componente esencial a la hora de encontrar soluciones a los desafíos para la salud y derechos reproductivos en América Latina.</p><a href="sections/idea-inspira.html" title="Para saber más">Para saber más</a>
        </div>
      </section>
      <section class="c-lista-de-logos c-lista-de-logos--rosa">
        <div class="container">
          <h2 class="c-lista-de-logos__titulo">Proyectos Innovadores</h2>
          <p>Conoce algunos proyectos que hemos apoyado en Iniciativa IDEA.</p>
          <ul class="c-lista-de-logos__lista">
            <li><a class="c-lista-de-logos__lista-contenido" href="http://creadorascamp.org/" target="_blank">
                <div class="content"><img class="lazy" src="#" data-src="images/logos/logo_creadorascamp-white.png" alt="Idea Inspira"></div></a></li>
            <li><a class="c-lista-de-logos__lista-contenido" href="https://festivalzarelia.com/" target="_blank">
                <div class="content"><img class="lazy" src="#" data-src="images/logos/logo_zarelia_white.png" alt="Idea Start"></div></a></li>
            <li><a class="c-lista-de-logos__lista-contenido" href="sections/idea-start.html">
                <div class="content"><img class="lazy" src="#" data-src="images/logos/logo_ideastart_white.png" alt="Idea Premios"></div></a></li>
          </ul>
        </div>
      </section>
      <section class="c-lista-resultados">
        <div class="container">
          <h2 class="c-lista-resultados__titulo">Nuestro Impacto</h2>
          <ul class="c-lista-resultados__lista">
            <li>
              <div class="c-lista-resultados__lista-contenido">
                <p class="c-lista-resultados__lista-numero">12</p>
                <p class="c-lista-resultados__lista-texto"><strong>Proyectos disruptivos</strong> apoyados</p>
              </div>
            </li>
            <li>
              <div class="c-lista-resultados__lista-contenido">
                <p class="c-lista-resultados__lista-numero">29</p>
                <p class="c-lista-resultados__lista-texto"><strong>Emprendimientos</strong> de impacto social apoyados</p>
              </div>
            </li>
            <li>
              <div class="c-lista-resultados__lista-contenido">
                <p class="c-lista-resultados__lista-numero">12</p>
                <p class="c-lista-resultados__lista-texto"><strong>Eventos de networking</strong>, inspiración y aprendizaje realizados</p>
              </div>
            </li>
            <li>
              <div class="c-lista-resultados__lista-contenido">
                <p class="c-lista-resultados__lista-numero">1.193</p>
                <p class="c-lista-resultados__lista-texto"><strong>Participantes</strong> en Eventos IDEA</p>
              </div>
            </li>
            <li>
              <div class="c-lista-resultados__lista-contenido">
                <p class="c-lista-resultados__lista-numero">131</p>
                <p class="c-lista-resultados__lista-texto"><strong>Empresas y organizaciones</strong> involucradas</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <article class="community container">
        <h2 class="clr-pink">Nuestra Comunidad</h2>
        <p>La Comunidad IDEA está formada por todas las personas, <b>organizaciones y empresas apasionadas por encontrar soluciones creativas e innovadoras a los desafíos para la salud y derechos reproductivos en América Latina</b> y que conforman el ecosistema de innovación social de la Iniciativa IDEA.</p>
        <div class="slider"><a href="http://alharacas.com/" target="_blank"><img src="images/home/nuestra-comunidad/alharaca.png"></a><a href="https://alterna.pro/" target="_blank"><img src="images/home/nuestra-comunidad/alterna.png"></a><a href="https://creadorascamp.org/" target="_blank"><img src="images/home/nuestra-comunidad/creadoras-camp.png"></a><a href="https://www.impaqto.net" target="_blank"><img src="images/home/nuestra-comunidad/impaqto.png"></a><a href="https://latfem.org/" target="_blank"><img src="images/home/nuestra-comunidad/latfem.png"></a><a href="http://www.managuafuriosa.com/" target="_blank"><img src="images/home/nuestra-comunidad/managuafuriosa.png"></a><a href="https://www.weareplanta.com/" target="_blank"><img src="images/home/nuestra-comunidad/planta.png"></a><a href="https://publicitarias.org/" target="_blank"><img src="images/home/nuestra-comunidad/publicitarias.png"></a><a href="https://www.sembramedia.org/" target="_blank"><img src="images/home/nuestra-comunidad/sembrando-media.png"></a><a href="https://wambra.ec/" target="_blank"><img src="images/home/nuestra-comunidad/wambra.png"></a><a href="https://festivalzarelia.com/" target="_blank"><img src="images/home/nuestra-comunidad/zarelia.png"></a></div>
      </article>
    </main>
    <footer class="bg-black clr-white">
      <div class="container">
        <div class="columna logos_footer">
          <div class="flex"><a href="#!"><img src="images/logos/logo_iniciativa_white_footer.svg" alt="Iniciativa Idea"></a><a href="#!"><img src="images/logos/logo_planned_white_footer.png" alt="Planned Parenthood"></a></div>
          <p><a href="https://www.greengeeks.com/" target="_blank" rel="nofollow"><img src="images/footer/greenwebsite.png" alt="Green Website"></a> <span>Low impact website powered by <a href="https://www.weareplanta.com/" target="_blank">Planta</a></span></p>
        </div>
        <div class="columna links">
          <ul>
            <li><a href="mailto:contacto@iniciativaidea.org">contacto@iniciativaidea.org</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.instagram.com/iniciativaidea/" target="_blank" title="Instagram"><img src="images/logos/logo_instagram.svg" alt="instragram"></a></li>
            <li><a href="https://www.facebook.com/IniciativaIDEA/" target="_blank" title="Facebook"><img src="images/logos/logo_facebook.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/IniciativaIDEA" target="_blank" title="Twitter"><img src="images/logos/logo_twitter.svg" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/iniciativa-idea/" target="_blank" title="Linkedin"><img src="images/logos/logo_linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA" target="_blank" title="Youtube"><img src="images/logos/youtube.svg" alt="youtube"></a></li>
          </ul>
          <p>Iniciativa IDEA © Copyright 2020</p>
        </div>
        <div class="columna form">
          <p>¿Quieres recibir nuestro newsletter?</p>
          <form>
            <input type="text" placeholder="Nombre completo">
            <input type="text" placeholder="Email">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html>

src/html/index.pug
//- Variables
include config/_site
include config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'index.html'
- page[ 'title' ] 		= 'Inicio'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include template/_head

	body
		include template/_header

		main#home
			section.banner.bg-lightgray
				.container
					h1 #[span Laboratorio] de Innovación Social
					h2 para los #[b Derechos Reproductivos] de América Latina

				a.scroll(href='#!'): img(src='images/icons/i-arrowdown_gray.svg' alt='icon arrow down gray')

			.why
				.container
					article
						.why-texto
							h2 ¿Cuál es el desafío?
							p Millones de personas en América Latina enfrentan cada día barreras que obstaculizan el ejercicio de sus derechos reproductivos y que provocan consecuencias muy negativas para ellas, sus familias y sus países.
							p ¿Tienes idea del desafío que estamos enfrentando?
							p: a(href="sections/iniciativa-idea.html" title="Para saber más...") Para saber más...

						.why-imagen
							img(src='images/home/desafio.jpg' alt='¿Cuál es el desafío?')

					article
						.why-texto
							h2 ¿Qué estamos haciendo?
							p La Iniciativa IDEA es el laboratorio de innovación social para los derechos reproductivos en América Latina de Planned Parenthood Global.
							p La Iniciativa IDEA impulsa un nuevo ecosistema formado por los sectores de la publicidad, tecnología, medios digitales y emprendimiento de impacto social, que explora la creatividad, la innovación y el talento para transformar cada idea en una solución a los grandes desafíos para la salud y los derechos reproductivos en América Latina.

						.why-imagen
							img(src='images/home/iniciativa.jpg' alt='Iniciativa Idea')

			section.postulate.bg-lightgray
				.container
					h2 ¿Tienes una IDEA inspiradora?
					h3 Buscamos ideas que nos inspiren y que necesitan apoyo para ponerlas en práctica.
					p IDEA Inspira es un programa de #[b convocatoria abierta y permanente], que invita a la exploración de ideas disruptivas en las que la innovación y la creatividad son el componente esencial a la hora de encontrar soluciones a los desafíos para la salud y derechos reproductivos en América Latina.
					a(href='sections/idea-inspira.html' title="Para saber más") Para saber más


			section.c-lista-de-logos.c-lista-de-logos--rosa
				.container
					h2.c-lista-de-logos__titulo Proyectos Innovadores
					p Conoce algunos proyectos que hemos apoyado en Iniciativa IDEA.

					ul.c-lista-de-logos__lista
						li: a.c-lista-de-logos__lista-contenido(href="http://creadorascamp.org/" target="_blank"): .content: img.lazy(src="#" data-src=urlFolder + "images/logos/logo_creadorascamp-white.png" alt="Idea Inspira")
						li: a.c-lista-de-logos__lista-contenido(href="https://festivalzarelia.com/" target="_blank"): .content: img.lazy(src="#" data-src=urlFolder + "images/logos/logo_zarelia_white.png" alt="Idea Start")
						li: a.c-lista-de-logos__lista-contenido(href="sections/idea-start.html"): .content: img.lazy(src="#" data-src=urlFolder + "images/logos/logo_ideastart_white.png" alt="Idea Premios")

			section.c-lista-resultados
				.container
					h2.c-lista-resultados__titulo Nuestro Impacto

					ul.c-lista-resultados__lista
						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 12
								p.c-lista-resultados__lista-texto #[strong Proyectos disruptivos] apoyados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 29
								p.c-lista-resultados__lista-texto #[strong Emprendimientos] de impacto social apoyados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 12
								p.c-lista-resultados__lista-texto #[strong Eventos de networking], inspiración y aprendizaje realizados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 1.193
								p.c-lista-resultados__lista-texto #[strong Participantes] en Eventos IDEA

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 131
								p.c-lista-resultados__lista-texto #[strong Empresas y organizaciones] involucradas

			article.community.container
				h2.clr-pink Nuestra Comunidad
				p La Comunidad IDEA está formada por todas las personas, #[b organizaciones y empresas apasionadas por encontrar soluciones creativas e innovadoras a los desafíos para la salud y derechos reproductivos en América Latina] y que conforman el ecosistema de innovación social de la Iniciativa IDEA.
				.slider
					a(href='http://alharacas.com/'			target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/alharaca.png')
					a(href='https://alterna.pro/'			target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/alterna.png')
					a(href='https://creadorascamp.org/'		target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/creadoras-camp.png')
					a(href='https://www.impaqto.net'		target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/impaqto.png')
					a(href='https://latfem.org/'			target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/latfem.png')
					a(href='http://www.managuafuriosa.com/'	target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/managuafuriosa.png')
					a(href='https://www.weareplanta.com/'	target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/planta.png')
					a(href='https://publicitarias.org/'		target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/publicitarias.png')
					a(href='https://www.sembramedia.org/'	target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/sembrando-media.png')
					a(href='https://wambra.ec/'				target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/wambra.png')
					a(href='https://festivalzarelia.com/'	target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/zarelia.png')
				//-a.clr-pink(href='#!')
					u Para saber más

			//-section.news.bg-lightgray
				h2.txt-center NEWS
				.slider.container
					.slide
						.bg-white
							p.news-category.clr-pink Changemakers
							h2 Entrevista a Catalina Ruiz de Creadoras Camp.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Comunidad
							h2 IMPAQTO #[br] lanza #[br] hackathon.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Internacionales
							h2 Iniciativas creativas en el mundo.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Internacionales
							h2 Entrevista a Catalina Ruiz de Creadoras Camp.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Internacionales
							h2 IMPAQTO #[br] lanza #[br] hackathon.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Internacionales
							h2 Iniciativas creativas en el mundo.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más


		include template/_footer

		include template/_scripts
