src/html/sections/404.pug
//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= '404.html'
- page[ 'title' ] 		= '404'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.c-error-404
			section
				.container
					h1.c-error-404__titulo ¡Oooops ! La página que estás buscando no existe.
					a.c-error-404__boton.btn.btn-blanco(href="../"): span Regresa al inicio

		include ../template/_footer
		
		include ../template/_scripts

dist/dev/sections/404.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>404 - Iniciativa Idea</title>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/global/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="../images/global/favicon-36x36.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="../images/global/favicon-48x48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="../images/global/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="shortcut icon" href="../images/global/favicon-144x144.png" type="image/png" sizes="144x144">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__fixed">
        <div class="c-header__content">
          <div class="c-header__logos"><a class="c-header__logos-item" href="../index.html"><img class="c-header__logos-principal" src="../images/logos/logo_iniciativa_color.svg" alt="logo - Iniciativa Idea"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideMobil" src="../images/logos/logo_planned_black.png" alt="logo - Planned Parenthood"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideEscritorio" src="../images/logos/planned-parenthood-vertical.svg" alt="logo - Planned Parenthood"></a>
          </div>
          <nav class="c-header__menu">
            <ul class="c-header__menu-lista">
              <li class="c-header__menu-item cerrar" id="cerrar-menu"><a href="#!"><img src="../images/icons/cancel.svg" alt="cerrar"></a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="iniciativa-idea.html">Iniciativa IDEA</a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="#!">Programas</a>
                <ul class="c-header__submenu">
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-inspira.html">IDEA Inspira</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-start.html">IDEA Start</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="comunidad-idea.html">Comunidad IDEA</a></li>
                </ul>
              </li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="https://iniciativaidea.org/">Foro IDEA</a></li>
              <!--li: a(href="#!") News-->
              <!--li: a(href="#!") Convocatorias-->
            </ul>
          </nav>
        </div>
        <div class="c-header__buscar"><a href="#!"><img src="../images/icons/i-search.svg"></a></div>
        <div class="c-header__mobil" id="menu-mobil"><img src="../images/icons/i-hamburguer.svg"></div>
      </div>
    </header>
    <main class="c-error-404">
      <section>
        <div class="container">
          <h1 class="c-error-404__titulo">¡Oooops ! La página que estás buscando no existe.</h1><a class="c-error-404__boton btn btn-blanco" href="../"><span>Regresa al inicio</span></a>
        </div>
      </section>
    </main>
    <footer class="bg-black clr-white">
      <div class="container">
        <div class="columna logos_footer">
          <div class="flex"><a href="#!"><img src="../images/logos/logo_iniciativa_white_footer.svg" alt="Iniciativa Idea"></a><a href="#!"><img src="../images/logos/logo_planned_white_footer.png" alt="Planned Parenthood"></a></div>
          <p><a href="https://www.greengeeks.com/" target="_blank" rel="nofollow"><img src="../images/footer/greenwebsite.png" alt="Green Website"></a> <span>Low impact website powered by <a href="https://www.weareplanta.com/" target="_blank">Planta</a></span></p>
        </div>
        <div class="columna links">
          <ul>
            <li><a href="mailto:contacto@iniciativaidea.org">contacto@iniciativaidea.org</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.instagram.com/iniciativaidea/" target="_blank" title="Instagram"><img src="../images/logos/logo_instagram.svg" alt="instragram"></a></li>
            <li><a href="https://www.facebook.com/IniciativaIDEA/" target="_blank" title="Facebook"><img src="../images/logos/logo_facebook.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/IniciativaIDEA" target="_blank" title="Twitter"><img src="../images/logos/logo_twitter.svg" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/iniciativa-idea/" target="_blank" title="Linkedin"><img src="../images/logos/logo_linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA" target="_blank" title="Youtube"><img src="../images/logos/youtube.svg" alt="youtube"></a></li>
          </ul>
          <p>Iniciativa IDEA © Copyright 2020</p>
        </div>
        <div class="columna form">
          <p>¿Quieres recibir nuestro newsletter?</p>
          <form>
            <input type="text" placeholder="Nombre completo">
            <input type="text" placeholder="Email">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
