dist/dev/sections/comunidad-idea.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Comunidad IDEA - Iniciativa Idea</title>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/global/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="../images/global/favicon-36x36.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="../images/global/favicon-48x48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="../images/global/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="shortcut icon" href="../images/global/favicon-144x144.png" type="image/png" sizes="144x144">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__fixed">
        <div class="c-header__content">
          <div class="c-header__logos"><a class="c-header__logos-item" href="../index.html"><img class="c-header__logos-principal" src="../images/logos/logo_iniciativa_color.svg" alt="logo - Iniciativa Idea"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideMobil" src="../images/logos/logo_planned_black.png" alt="logo - Planned Parenthood"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideEscritorio" src="../images/logos/planned-parenthood-vertical.svg" alt="logo - Planned Parenthood"></a>
          </div>
          <nav class="c-header__menu">
            <ul class="c-header__menu-lista">
              <li class="c-header__menu-item cerrar" id="cerrar-menu"><a href="#!"><img src="../images/icons/cancel.svg" alt="cerrar"></a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="iniciativa-idea.html">Iniciativa IDEA</a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="#!">Programas</a>
                <ul class="c-header__submenu">
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-inspira.html">IDEA Inspira</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-start.html">IDEA Start</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="comunidad-idea.html">Comunidad IDEA</a></li>
                </ul>
              </li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="https://iniciativaidea.org/">Foro IDEA</a></li>
              <!--li: a(href="#!") News-->
              <!--li: a(href="#!") Convocatorias-->
            </ul>
          </nav>
        </div>
        <div class="c-header__buscar"><a href="#!"><img src="../images/icons/i-search.svg"></a></div>
        <div class="c-header__mobil" id="menu-mobil"><img src="../images/icons/i-hamburguer.svg"></div>
      </div>
    </header>
    <main class="programas idea-inpira">
      <section class="c-banner-principal">
        <div class="container">
          <ul class="c-banner-principal__menu">
            <li><a href="#!" title="IDEA Inspira">IDEA Inspira</a></li>
            <li><a href="idea-start.html" title="IDEA Start">IDEA Start</a></li>
            <li><a class="active" href="#!" title="Comunidad IDEA">Comunidad IDEA</a></li>
          </ul>
          <div class="c-banner-principal__texto">
            <p><strong>Impulsamos un nuevo ecosistema de innovación social</strong> para construir el mundo que queremos.</p>
          </div>
        </div>
      </section>
      <div class="why why--inverso why--amarillo">
        <div class="container">
          <article>
            <div class="why-texto">
              <h2>Comunidad IDEA</h2>
              <p>La Comunidad IDEA está formada por todas las personas, organizaciones y empresas apasionadas por encontrar soluciones creativas e innovadoras a los desafíos para la salud y derechos reproductivos en América Latina y que conforman el ecosistema de innovación social de la Iniciativa IDEA.</p>
            </div>
            <div class="why-imagen"><img src="../images/comunidad-idea/comunidad-idea.jpg" alt="Comunidad idea"></div>
          </article>
        </div>
      </div>
      <section class="c-cards">
        <div class="container">
          <h2 class="c-cards__titulo">¡Únete a la Comunidad IDEA!</h2>
          <ul class="c-cards__lista">
            <li class="c-cards__item"><img class="c-cards__imagen lazy" src="#!" data-src="../images/comunidad-idea/apasiona.png">
              <p class="c-cards__texto">Si te apasiona la creatividad, la tecnología, la innovación, los medios digitales o el emprendimiento de impacto social…</p>
            </li>
            <li class="c-cards__item"><img class="c-cards__imagen lazy" src="#!" data-src="../images/comunidad-idea/contribuir.png">
              <p class="c-cards__texto">Si buscas contribuir con tu talento a resolver desafíos que afectan a millones de personas.</p>
            </li>
            <li class="c-cards__item"><img class="c-cards__imagen lazy" src="#!" data-src="../images/comunidad-idea/lucha.png">
              <p class="c-cards__texto">Si eres de las personas que en lugar de luchar contra el status quo, imaginan y crean el mundo en el que quieren vivir.</p>
            </li>
          </ul>
        </div>
        <div class="c-cards__container-subtitulo">
          <div class="container">
            <h3 class="c-cards__subtitulo">Algunas cosas que puedes hacer para formar parte de la Comunidad IDEA:</h3>
          </div>
        </div>
      </section>
      <section class="c-banner-imagen-full c-banner-imagen-full--reversa c-banner-imagen-full--amarillo">
        <div class="c-banner-imagen-full__container container">
          <div class="c-banner-imagen-full__texto">
            <ul class="c-banner-imagen-full__texto--lista-morado">
              <li>Si quieres realizar una donación o invertir en nuestros programas.</li>
              <li>Si buscas cómo aplicar tu talento apoyando a otras personas de la Comunidad IDEA mediante mentorías y trabajo en equipo.</li>
              <li>¿Quieres contribuir con un artículo sobre innovación y derechos reproductivos?</li>
              <li>¿Quieres organizar un Evento IDEA?</li>
            </ul><a class="btn btn-amarillo" href="#!"><span>Contáctanos</span></a>
          </div>
          <div class="c-banner-imagen-full__imagen"><img class="lazy" src="#" data-src="../images/comunidad-idea/comunidad-forma-parte.jpg" alt="Tienes una idea"></div>
        </div>
      </section>
      <div class="c-cards-botones">
        <div class="container">
          <ul class="c-cards-botones__lista">
            <li class="c-cards-botones__item">
              <p class="c-cards-botones__texto">¿Necesitas fortalecer tu organización o emprendimiento social?</p><a class="btn btn-amarillo-dos" href="#!"><span>IDEA START</span></a>
            </li>
            <li class="c-cards-botones__item">
              <p class="c-cards-botones__texto">¿Buscas apoyo para una idea disruptiva?</p><a class="btn btn-amarillo-dos" href="#!"><span>IDEA INSPIRA</span></a>
            </li>
          </ul>
        </div>
      </div>
      <section class="c-logos">
        <div class="container">
          <h2 class="c-logos__titulo">¿Quiénes conforman la Comunidad IDEA?</h2>
          <ul class="c-logos__lista">
            <li class="c-logos__item"><a href="http://alharacas.com/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/alharaca.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="https://alterna.pro/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/alterna.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="https://creadorascamp.org/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/creadoras-camp.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="https://www.impaqto.net/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/ipaqto.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="#!" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/laincre.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="https://latfem.org/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/latfem.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="https://wambra.ec/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/wambra.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="https://www.weareplanta.com/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/planta.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="https://publicitarias.org/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/publicitarias.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="https://www.sembramedia.org/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/sembra-media.png" alt="Alharaca"></a></li>
            <li class="c-logos__item"><a href="http://www.managuafuriosa.com/" target="_blank"><img class="c-logos__img lazy" src="#!" data-src="../images/comunidad-idea/logos/managua-furiosa.png" alt="Alharaca"></a></li>
          </ul>
        </div>
      </section>
    </main>
    <footer class="bg-black clr-white">
      <div class="container">
        <div class="columna logos_footer">
          <div class="flex"><a href="#!"><img src="../images/logos/logo_iniciativa_white_footer.svg" alt="Iniciativa Idea"></a><a href="#!"><img src="../images/logos/logo_planned_white_footer.png" alt="Planned Parenthood"></a></div>
          <p><a href="https://www.greengeeks.com/" target="_blank" rel="nofollow"><img src="../images/footer/greenwebsite.png" alt="Green Website"></a> <span>Low impact website powered by <a href="https://www.weareplanta.com/" target="_blank">Planta</a></span></p>
        </div>
        <div class="columna links">
          <ul>
            <li><a href="mailto:contacto@iniciativaidea.org">contacto@iniciativaidea.org</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.instagram.com/iniciativaidea/" target="_blank" title="Instagram"><img src="../images/logos/logo_instagram.svg" alt="instragram"></a></li>
            <li><a href="https://www.facebook.com/IniciativaIDEA/" target="_blank" title="Facebook"><img src="../images/logos/logo_facebook.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/IniciativaIDEA" target="_blank" title="Twitter"><img src="../images/logos/logo_twitter.svg" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/iniciativa-idea/" target="_blank" title="Linkedin"><img src="../images/logos/logo_linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA" target="_blank" title="Youtube"><img src="../images/logos/youtube.svg" alt="youtube"></a></li>
          </ul>
          <p>Iniciativa IDEA © Copyright 2020</p>
        </div>
        <div class="columna form">
          <p>¿Quieres recibir nuestro newsletter?</p>
          <form>
            <input type="text" placeholder="Nombre completo">
            <input type="text" placeholder="Email">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
  </body>
</html>

src/html/sections/comunidad-idea.pug
//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'comunidad-idea.html'
- page[ 'title' ] 		= 'Comunidad IDEA'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.programas.idea-inpira
			section.c-banner-principal
				.container
					ul.c-banner-principal__menu
						li: a(href="#!" title="IDEA Inspira") IDEA Inspira
						li: a(href="idea-start.html" title="IDEA Start") IDEA Start
						li: a.active(href="#!" title="Comunidad IDEA") Comunidad IDEA

					.c-banner-principal__texto
						p #[strong Impulsamos un nuevo ecosistema de innovación social] para construir el mundo que queremos.

			.why.why--inverso.why--amarillo
				.container
					article
						.why-texto
							h2 Comunidad IDEA
							p La Comunidad IDEA está formada por todas las personas, organizaciones y empresas apasionadas por encontrar soluciones creativas e innovadoras a los desafíos para la salud y derechos reproductivos en América Latina y que conforman el ecosistema de innovación social de la Iniciativa IDEA.

						.why-imagen
							img(src=urlFolder+'images/comunidad-idea/comunidad-idea.jpg' alt='Comunidad idea')

			section.c-cards
				.container
					h2.c-cards__titulo ¡Únete a la Comunidad IDEA!

					ul.c-cards__lista
						li.c-cards__item
							img.c-cards__imagen.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/apasiona.png")
							p.c-cards__texto Si te apasiona la creatividad, la tecnología, la innovación, los medios digitales o el emprendimiento de impacto social…

						li.c-cards__item
							img.c-cards__imagen.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/contribuir.png")
							p.c-cards__texto Si buscas contribuir con tu talento a resolver desafíos que afectan a millones de personas.

						li.c-cards__item
							img.c-cards__imagen.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/lucha.png")
							p.c-cards__texto Si eres de las personas que en lugar de luchar contra el status quo, imaginan y crean el mundo en el que quieren vivir.

				.c-cards__container-subtitulo
					.container
						h3.c-cards__subtitulo Algunas cosas que puedes hacer para formar parte de la Comunidad IDEA:

			section.c-banner-imagen-full.c-banner-imagen-full--reversa.c-banner-imagen-full--amarillo
				.c-banner-imagen-full__container.container
					.c-banner-imagen-full__texto
						ul.c-banner-imagen-full__texto--lista-morado
							li Si quieres realizar una donación o invertir en nuestros programas.
							li Si buscas cómo aplicar tu talento apoyando a otras personas de la Comunidad IDEA mediante mentorías y trabajo en equipo.
							li ¿Quieres contribuir con un artículo sobre innovación y derechos reproductivos?
							li ¿Quieres organizar un Evento IDEA?

						a.btn.btn-amarillo(href="#!"): span Contáctanos

					.c-banner-imagen-full__imagen
						img.lazy(src="#" data-src=urlFolder + "images/comunidad-idea/comunidad-forma-parte.jpg" alt="Tienes una idea")

			.c-cards-botones
				.container
					ul.c-cards-botones__lista
						li.c-cards-botones__item
							p.c-cards-botones__texto ¿Necesitas fortalecer tu organización o emprendimiento social?
							a.btn.btn-amarillo-dos(href="#!"): span IDEA START

						li.c-cards-botones__item
							p.c-cards-botones__texto ¿Buscas apoyo para una idea disruptiva?
							a.btn.btn-amarillo-dos(href="#!"): span IDEA INSPIRA

						//-li.c-cards-botones__item
							p.c-cards-botones__texto ¿Quieres participar en nuestras actividades?
							a.btn.btn-amarillo-dos(href="#!"): span CONVOCATORIAS

			section.c-logos
				.container
					h2.c-logos__titulo ¿Quiénes conforman la Comunidad IDEA?

					ul.c-logos__lista
						li.c-logos__item
							a(href="http://alharacas.com/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/alharaca.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://alterna.pro/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/alterna.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://creadorascamp.org/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/creadoras-camp.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://www.impaqto.net/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/ipaqto.png" alt="Alharaca")
						li.c-logos__item
							a(href="#!" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/laincre.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://latfem.org/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/latfem.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://wambra.ec/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/wambra.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://www.weareplanta.com/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/planta.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://publicitarias.org/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/publicitarias.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://www.sembramedia.org/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/sembra-media.png" alt="Alharaca")
						li.c-logos__item
							a(href="http://www.managuafuriosa.com/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/managua-furiosa.png" alt="Alharaca")

		include ../template/_footer
		
		include ../template/_scripts
