src/html/sections/eventos-idea.pug
//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'eventos-idea.html'
- page[ 'title' ] 		= 'Eventos IDEA'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.foro-idea
			section.c-banner-principal.c-banner-principal--verde
				.container
					ul.c-banner-principal__menu
						li: a(href="#!" title="IDEA Inspira") IDEA Inspira
						li: a(href="idea-start.html" title="IDEA Start") IDEA Start
						li: a.active(href="#!" title="Comunidad IDEA") Comunidad IDEA
						li: a.active(href="#!" title="Comunidad IDEA") Eventos IDEA

					.c-banner-principal__texto
						h1 Eventos IDEA
						p Conectamos #[strong agentes de cambio] y destacamos nuevos liderazgos.

			.why.why--inverso.why--verde
				.container
					article
						.why-texto
							p Son espacios impulsados por la #[strong Comunidad IDEA] para promover la inspiración, el aprendizaje y networking.
							br
							p El más importante es el Foro IDEA, que se celebra cada 2 años en un país de la región, pero existen otros eventos nacionales sectoriales o intersectoriales, tanto de forma presencial como virtual.

						.why-imagen
							img(src=urlFolder+'images/comunidad-idea/comunidad-idea.jpg' alt='Comunidad idea')

			section.c-titulo
				.container
					h2.c-titulo__titulo Próximos Eventos IDEA

			section.intro-idea
				.container
					.logo
						img(src=urlFolder + "images/foro-idea/foro-idea-2021.svg" alt="Foro Idea 2021")

					.texto
						p 21●22●23 de abril
						h2 III FORO LATINOAMERICANO SOBRE CREATIVIDAD, INNOVACIÓN Y NUEVOS MEDIOS PARA LOS DERECHOS REPRODUCTIVOS.

				.container
					a.btn.btn-blanco-dos(href="#!"): span POSTULA PARA ASISTIR

			section.c-acordeon.c-acordeon--verde
				.container
					h2.c-acordeon__titulo Anteriores Eventos IDEA

					dl.c-acordeon__lista
						dt.c-acordeon__lista-titulo(data-href="#hackathon") #[span.c-acordeon__lista-encabezado Hackathon: Hackea la crisis - Mujeres #[span.c-acordeon__lista-icono]]
						dd#hackathon.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder + "images/idea-inspira/proyectos/ser-nina.png" alt="Zarelia")

								.c-acordeon__lista-texto
									p.texto-verde ¿Cuándo?
									p 24 y 25 de abril de 2020
									p.texto-verde ¿Dónde?
									p Virtual
									p.texto-verde ¿Qué?
									p Hackea la crisis - Mujeres
									p Encuentro en línea que invita al mejor talento de América Latina para resolver los desafíos presentados por el Covid-19 y proporcionar soluciones útiles y de ágil implementación. Durante 2 días, los equipos participantes tendrán la oportunidad de transformar sus ideas en soluciones o productos mínimos viables a 3 retos que enfrentan las mujeres en términos de salud sexual y reproductiva, comunicación con el exterior y violencia contra las mujeres, mientras atravesamos la situación de aislamiento provocada por el Covid-19.
									p.texto-verde ¿Organiza?
									p Iniciativa IDEA, Impaqto, Google, UNICEF, GIZ, PNUD, BID LAB, Platzi
									p.texto-verde: a(href="#!") Para saber más…

			section.todo-empieza.todo-empieza--gris
				.container
					h3.todo-empieza__titulo ¿Quieres organizar un Evento IDEA?
					a.btn.btn-verde(href="#!" title="CONTÁCTANOS"): span CONTÁCTANOS

		include ../template/_footer
		
		include ../template/_scripts

dist/dev/sections/eventos-idea.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Eventos IDEA - Iniciativa Idea</title>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/global/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="../images/global/favicon-36x36.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="../images/global/favicon-48x48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="../images/global/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="shortcut icon" href="../images/global/favicon-144x144.png" type="image/png" sizes="144x144">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__fixed">
        <div class="c-header__content">
          <div class="c-header__logos"><a class="c-header__logos-item" href="../index.html"><img class="c-header__logos-principal" src="../images/logos/logo_iniciativa_color.svg" alt="logo - Iniciativa Idea"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideMobil" src="../images/logos/logo_planned_black.png" alt="logo - Planned Parenthood"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideEscritorio" src="../images/logos/planned-parenthood-vertical.svg" alt="logo - Planned Parenthood"></a>
          </div>
          <nav class="c-header__menu">
            <ul class="c-header__menu-lista">
              <li class="c-header__menu-item cerrar" id="cerrar-menu"><a href="#!"><img src="../images/icons/cancel.svg" alt="cerrar"></a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="iniciativa-idea.html">Iniciativa IDEA</a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="#!">Programas</a>
                <ul class="c-header__submenu">
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-inspira.html">IDEA Inspira</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-start.html">IDEA Start</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="comunidad-idea.html">Comunidad IDEA</a></li>
                </ul>
              </li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="https://iniciativaidea.org/">Foro IDEA</a></li>
              <!--li: a(href="#!") News-->
              <!--li: a(href="#!") Convocatorias-->
            </ul>
          </nav>
        </div>
        <div class="c-header__buscar"><a href="#!"><img src="../images/icons/i-search.svg"></a></div>
        <div class="c-header__mobil" id="menu-mobil"><img src="../images/icons/i-hamburguer.svg"></div>
      </div>
    </header>
    <main class="foro-idea">
      <section class="c-banner-principal c-banner-principal--verde">
        <div class="container">
          <ul class="c-banner-principal__menu">
            <li><a href="#!" title="IDEA Inspira">IDEA Inspira</a></li>
            <li><a href="idea-start.html" title="IDEA Start">IDEA Start</a></li>
            <li><a class="active" href="#!" title="Comunidad IDEA">Comunidad IDEA</a></li>
            <li><a class="active" href="#!" title="Comunidad IDEA">Eventos IDEA</a></li>
          </ul>
          <div class="c-banner-principal__texto">
            <h1>Eventos IDEA</h1>
            <p>Conectamos <strong>agentes de cambio</strong> y destacamos nuevos liderazgos.</p>
          </div>
        </div>
      </section>
      <div class="why why--inverso why--verde">
        <div class="container">
          <article>
            <div class="why-texto">
              <p>Son espacios impulsados por la <strong>Comunidad IDEA</strong> para promover la inspiración, el aprendizaje y networking.</p><br>
              <p>El más importante es el Foro IDEA, que se celebra cada 2 años en un país de la región, pero existen otros eventos nacionales sectoriales o intersectoriales, tanto de forma presencial como virtual.</p>
            </div>
            <div class="why-imagen"><img src="../images/comunidad-idea/comunidad-idea.jpg" alt="Comunidad idea"></div>
          </article>
        </div>
      </div>
      <section class="c-titulo">
        <div class="container">
          <h2 class="c-titulo__titulo">Próximos Eventos IDEA</h2>
        </div>
      </section>
      <section class="intro-idea">
        <div class="container">
          <div class="logo"><img src="../images/foro-idea/foro-idea-2021.svg" alt="Foro Idea 2021"></div>
          <div class="texto">
            <p>21●22●23 de abril</p>
            <h2>III FORO LATINOAMERICANO SOBRE CREATIVIDAD, INNOVACIÓN Y NUEVOS MEDIOS PARA LOS DERECHOS REPRODUCTIVOS.</h2>
          </div>
        </div>
        <div class="container"><a class="btn btn-blanco-dos" href="#!"><span>POSTULA PARA ASISTIR</span></a></div>
      </section>
      <section class="c-acordeon c-acordeon--verde">
        <div class="container">
          <h2 class="c-acordeon__titulo">Anteriores Eventos IDEA</h2>
          <dl class="c-acordeon__lista">
            <dt class="c-acordeon__lista-titulo" data-href="#hackathon"><span class="c-acordeon__lista-encabezado">Hackathon: Hackea la crisis - Mujeres <span class="c-acordeon__lista-icono"></span></span></dt>
            <dd class="c-acordeon__lista-contenido" id="hackathon">
              <div class="c-acordeon__lista-contenedor">
                <div class="c-acordeon__lista-imagen"><img class="lazy" src="#" data-src="../images/idea-inspira/proyectos/ser-nina.png" alt="Zarelia"></div>
                <div class="c-acordeon__lista-texto">
                  <p class="texto-verde">¿Cuándo?</p>
                  <p>24 y 25 de abril de 2020</p>
                  <p class="texto-verde">¿Dónde?</p>
                  <p>Virtual</p>
                  <p class="texto-verde">¿Qué?</p>
                  <p>Hackea la crisis - Mujeres</p>
                  <p>Encuentro en línea que invita al mejor talento de América Latina para resolver los desafíos presentados por el Covid-19 y proporcionar soluciones útiles y de ágil implementación. Durante 2 días, los equipos participantes tendrán la oportunidad de transformar sus ideas en soluciones o productos mínimos viables a 3 retos que enfrentan las mujeres en términos de salud sexual y reproductiva, comunicación con el exterior y violencia contra las mujeres, mientras atravesamos la situación de aislamiento provocada por el Covid-19.</p>
                  <p class="texto-verde">¿Organiza?</p>
                  <p>Iniciativa IDEA, Impaqto, Google, UNICEF, GIZ, PNUD, BID LAB, Platzi</p>
                  <p class="texto-verde"><a href="#!">Para saber más…</a></p>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </section>
      <section class="todo-empieza todo-empieza--gris">
        <div class="container">
          <h3 class="todo-empieza__titulo">¿Quieres organizar un Evento IDEA?</h3><a class="btn btn-verde" href="#!" title="CONTÁCTANOS"><span>CONTÁCTANOS</span></a>
        </div>
      </section>
    </main>
    <footer class="bg-black clr-white">
      <div class="container">
        <div class="columna logos_footer">
          <div class="flex"><a href="#!"><img src="../images/logos/logo_iniciativa_white_footer.svg" alt="Iniciativa Idea"></a><a href="#!"><img src="../images/logos/logo_planned_white_footer.png" alt="Planned Parenthood"></a></div>
          <p><a href="https://www.greengeeks.com/" target="_blank" rel="nofollow"><img src="../images/footer/greenwebsite.png" alt="Green Website"></a> <span>Low impact website powered by <a href="https://www.weareplanta.com/" target="_blank">Planta</a></span></p>
        </div>
        <div class="columna links">
          <ul>
            <li><a href="mailto:contacto@iniciativaidea.org">contacto@iniciativaidea.org</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.instagram.com/iniciativaidea/" target="_blank" title="Instagram"><img src="../images/logos/logo_instagram.svg" alt="instragram"></a></li>
            <li><a href="https://www.facebook.com/IniciativaIDEA/" target="_blank" title="Facebook"><img src="../images/logos/logo_facebook.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/IniciativaIDEA" target="_blank" title="Twitter"><img src="../images/logos/logo_twitter.svg" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/iniciativa-idea/" target="_blank" title="Linkedin"><img src="../images/logos/logo_linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA" target="_blank" title="Youtube"><img src="../images/logos/youtube.svg" alt="youtube"></a></li>
          </ul>
          <p>Iniciativa IDEA © Copyright 2020</p>
        </div>
        <div class="columna form">
          <p>¿Quieres recibir nuestro newsletter?</p>
          <form>
            <input type="text" placeholder="Nombre completo">
            <input type="text" placeholder="Email">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
