src/html/sections/idea-start.pug
//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'programas.html'
- page[ 'title' ] 		= 'Inicio'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.idea-start
			section.c-banner-principal.c-banner-principal--gris
				.container
					ul.c-banner-principal__menu
						li: a(href="idea-inspira.html" title="IDEA Inspira") IDEA Inspira
						li: a.active(href="#!" title="IDEA Start") IDEA Start

					.c-banner-principal__texto
						h1.u-color-texto--morado ¿Qué es?
						p #[strong IDEA Start] es un programa de convocatoria periódica dirigido a #[strong descubrir, incubar y acelerar empresas y organizaciones] que quieran fortalecer sus modelos y planes de negocio enfocados en el desarrollo de soluciones #[strong que impacten en la salud y los derechos reproductivos de millones de mujeres y hombres] a través de sus productos y servicios innovadores.

			section.c-banner-imagen-full.c-banner-imagen-full--reversa
				.c-banner-imagen-full__container.container
					.c-banner-imagen-full__texto
						h2.u-color-texto--morado ¿Qué soluciones buscamos?

						p #[strong Para lograr el impacto esperado las soluciones deben apuntar a superar grandes barreras en tres áreas clave:]

						ul.c-banner-imagen-full__texto--lista-morado
							li El desarrollo de la educación sexual integral, la disponibilidad de anticonceptivos modernos y eficaces, y el acceso al aborto legal y seguro.
							li Las leyes y políticas públicas que son restrictivas de estos derechos.
							li Los patrones socioculturales que perpetúan los prejuicios contra el ejercicio de los derechos reproductivos.

					.c-banner-imagen-full__imagen
						img.lazy(src="#" data-src=urlFolder + "images/idea-start/soluciones.png" alt="Tienes una idea")

			section.c-lista-ordenada.c-lista-ordenada--morado.c-lista-ordenada--fondo-gris
				.container
					h2.c-lista-ordenada__titulo ¿Qué sectores o industrias pueden participar?

					ul.c-lista-ordenada__lista
						li
							p.c-lista-ordenada__lista--titulo Educación y salud
							| Buscamos soluciones incluyentes de #[strong industrias de la educación y la salud que impulsan la información y educación sexual integral], y que mejoran el acceso a consejería y servicios integrales de salud sexual y reproductiva, en especial aquellos enfocados en la expansión de la telemedicina.

						li
							p.c-lista-ordenada__lista--titulo Innovación tecnológica
							| Soluciones de #[strong industrias tecnológicas que integran ecosistemas de HealthTech, CivicTech, SexTech y FemTech] y exploran el desarrollo de tecnologías como big data, data mining, datos abiertos, inteligencia artificial, blockchain, 3D, VR, IoT, APPs, wearables, videojuegos, etc.

						li
							p.c-lista-ordenada__lista--titulo Plataformas creativas
							| Soluciones de #[strong industrias creativas y de la comunicación que impulsan la incidencia en leyes y políticas públicas] y la transformación de patrones socioculturales.

			section.c-imagen-texto.c-imagen-texto--morado
				.c-imagen-texto__container.container
					.c-imagen-texto__imagen
						img.lazy(src="#" data-src=urlFolder + "images/idea-start/beneficios.png" alt="¿Por qué la salud y derechos reproductivos en América Latina?")

					.c-imagen-texto__texto
						h2.c-imagen-texto__texto--titulo ¿Cuáles son los beneficios de participar en IDEA START?

						ul.c-imagen-texto__texto--lista
							li Mentoría y fortalecimiento empresarial (ventas, mercados, procesos operativos, finanzas e impacto) a cargo de personas expertas de alto nivel en innovación social y emprendimiento.
							li Fortalecimiento del modelo y plan de negocios como preparación para el proceso de recibir inversión.
							li Desarrollo de tu red de contactos con otras empresas y organizaciones de la región para potenciar tu impacto.
							li Visibilidad para dar a conocer a tu empresa u organización ante potenciales inversores o clientes.
							li Formación especializada en salud y derechos reproductivos y la situación de este mercado en expansión.
							li La posibilidad de ganar US $15.000 en capital semilla mediante los Premios IDEA

				.c-imagen-texto__container.container
					.c-imagen-texto__imagen
						img.lazy(src="#" data-src=urlFolder + "images/idea-start/requisitos.png" alt="¿Por qué la salud y derechos reproductivos en América Latina?")

					.c-imagen-texto__texto
						h2.c-imagen-texto__texto--titulo ¿Cuáles son los requisitos para participar?

						ul.c-imagen-texto__texto--lista
							li Que la solución innovadora o modelo de negocio responda al propósito de IDEA Start.
							li Tener un producto o servicio que esté siendo validado en el mercado, ya sea en etapa de ideación avanzada, primeras ventas o escalamiento.
							li Tener un equipo dedicado a la empresa u organización, con disponibilidad de la persona con mayor responsabilidad para participar del programa.
							li Estar basada en uno de los países de América Latina.
							li Si tu solución es seleccionada, deberás firmar un compromiso de responsabilidad para completar el proceso de mentoría.

			section.c-texto-solo.c-texto-solo--morado
				.container
					p El Programa IDEA Start nació en 2020 fruto de la alianza entre la Iniciativa IDEA, ALTERNA e IMPAQTO, dos empresas sociales líderes en el ámbito del emprendimiento de impacto social en América Latina. La convocatoria tuvo un enfoque subregional (Sudamérica y Centroamérica & México) y cada proceso estuvo liderado por IMPAQTO y ALTERNA, respectivamente. A la convocatoria lanzada en junio se presentaron en total 88 solicitudes de empresas y organizaciones, de las que finalmente se seleccionaron 29 (13, Sudamérica y 16, Centroamérica & México) para formar parte del programa.
					hr.c-texto-solo__divisor
					p En noviembre de 2020 se realizó el proceso de selección, mediante competición de Pitch, de las 3 ideas finalistas de Sudamérica. Las 3 finalistas de Centroamérica & México serán elegidas mediante el mismo formato en marzo de 2021.
					p Las 6 finalistas competirán en la final de Pitch que se celebrará durante el Foro IDEA 2021 por 1 de los 3 Premios IDEA (capital semilla de US $15,000), ante un jurado de personalidades expertas en las áreas de creatividad, innovación, emprendimiento social y derechos reproductivos.

			section.c-tabs.c-tabs--gris
				.container
					h2.c-tabs__titulo Logros IDEA Start 2020

					dl#c-tabs__tabs.c-tabs__tabs
						dt.c-tabs__tabs-titulo.active Convocatoria 2020
						dd.c-tabs__tabs-contenido
							ul.c-tabs__cifras
								li
									p.c-tabs__cifras-cantidad 88
									p.c-tabs__cifras-descripcion Aplicaciones recibidas

								li
									p.c-tabs__cifras-cantidad 29
									p.c-tabs__cifras-descripcion Empresas y organizaciones participantes

								li
									p.c-tabs__cifras-cantidad 6
									p.c-tabs__cifras-descripcion Finalistas

								li
									p.c-tabs__cifras-cantidad 3
									p.c-tabs__cifras-descripcion Ganadoras de los Premios IDEA

						dt.c-tabs__tabs-titulo Finalistas 2020
						dd.c-tabs__tabs-contenido
							ul.c-tabs__finalistas
								li
									img.lazy.c-tabs__finalistas-imagen(src="#" data-src=urlFolder+"images/idea-start/finalistas/creadoras-camp.png" alt="primer finalista")
									p.c-tabs__finalistas-descripcion Proyecto disruptivo pionero dirigido a jóvenes creadoras de contenido digital latinoamericanas, que buscan maximizar su audiencia e influencia y tienen una actitud positiva sobre los derechos de las mujeres.

								li
									img.lazy.c-tabs__finalistas-imagen(src="#" data-src=urlFolder+"images/idea-start/finalistas/lunar-app.png" alt="primer finalista")
									p.c-tabs__finalistas-descripcion Lunar App es la primera aplicación gratuita sobre salud sexual femenina creada en Argentina en 2016. Hoy cuenta con una comunidad de más de 23.000 usuarias en 93 países.

								li
									img.lazy.c-tabs__finalistas-imagen(src="#" data-src=urlFolder+"images/idea-start/finalistas/posta.png" alt="primer finalista")
									p.c-tabs__finalistas-descripcion Productora de podcasts más grande de Argentina, seguida por millones de personas en otros países. Se trata de un nuevo medio diseñado para una audiencia curiosa que buscan sorprenderse con algo diferente.

						//-dt.c-tabs__tabs-titulo Ganadores 2020
						//-dd.c-tabs__tabs-contenido
							ul.c-tabs__finalistas
								li
									img.lazy.c-tabs__finalistas-imagen(src="#" data-src="https://fakeimg.pl/400x200/E0E0E0/000/?text=IniciativaIDEA" alt="primer finalista")
									p.c-tabs__finalistas-descripcion Proyecto disruptivo pionero dirigido a jóvenes creadoras de contenido digital latinoamericanas

								li
									img.lazy.c-tabs__finalistas-imagen(src="#" data-src="https://fakeimg.pl/400x200/E0E0E0/000/?text=IniciativaIDEA" alt="primer finalista")
									p.c-tabs__finalistas-descripcion Proyecto disruptivo pionero dirigido a jóvenes creadoras de contenido digital latinoamericanas

								li
									img.lazy.c-tabs__finalistas-imagen(src="#" data-src="https://fakeimg.pl/400x200/E0E0E0/000/?text=IniciativaIDEA" alt="primer finalista")
									p.c-tabs__finalistas-descripcion Proyecto disruptivo pionero dirigido a jóvenes creadoras de contenido digital latinoamericanas

			section.c-formulario-extenso.c-formulario-extenso--morado
				.container
					h2.c-formulario-extenso__titulo Formulario de interés en participar en el #[br] programa IDEA Start.

					form.c-formulario-extenso__formulario(action="" method="GET")
						.c-formulario-extenso__formulario--campo
							label Nombre completo:
							input(type="text" name="nombre")

						.c-formulario-extenso__formulario--campo
							label Correo electrónico:
							input(type="email" name="correo")

						.c-formulario-extenso__formulario--campo
							label Teléfono: #[small (Para mensajes)]
							input(type="tel" name="telefono")

						.c-formulario-extenso__formulario--campo
							label País
							select(name="pais")
								option País 1
								option País 2
								option País 3
								option País 4

						.c-formulario-extenso__formulario--campo
							label Nombre de tu empresa/organización: #[small (Si no es una persona individual)]
							input(type="text" name="empresa")

						.c-formulario-extenso__formulario--campo
							label Sitio web: #[small (opcional)]
							input(type="url" name="web")

						.c-formulario-extenso__formulario--campos-extra
							h3.c-formulario-extenso__subtitulo ¿En cuál de los sectores o industrias piensas que encaja tu solución?

							ul.c-formulario-extenso__formulario--lista.c-formulario-extenso__formulario--lista-simple
								li
									.checkbox
										label
											input(type="checkbox" name="recibir")
											span Educación y salud

								li
									.checkbox
										label
											input(type="checkbox" name="recibir")
											span Innovación tecnológica

								li
									.checkbox
										label
											input(type="checkbox" name="recibir")
											span Plataformas creativas

							h3.c-formulario-extenso__subtitulo Cuéntanos por qué te interesa participar en IDEA Start y un resumen del trabajo que realiza tu empresa/organización en el ámbito de la salud y los derechos reproductivos:

							textarea(maxlength="100" placeholder="100 palabras máximo")

							button.btn.btn-morado(type="submit"): span Enviar

		include ../template/_footer
		
		include ../template/_scripts

dist/dev/sections/idea-start.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inicio - Iniciativa Idea</title>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/global/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="../images/global/favicon-36x36.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="../images/global/favicon-48x48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="../images/global/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="shortcut icon" href="../images/global/favicon-144x144.png" type="image/png" sizes="144x144">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__fixed">
        <div class="c-header__content">
          <div class="c-header__logos"><a class="c-header__logos-item" href="../index.html"><img class="c-header__logos-principal" src="../images/logos/logo_iniciativa_color.svg" alt="logo - Iniciativa Idea"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideMobil" src="../images/logos/logo_planned_black.png" alt="logo - Planned Parenthood"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideEscritorio" src="../images/logos/planned-parenthood-vertical.svg" alt="logo - Planned Parenthood"></a>
          </div>
          <nav class="c-header__menu">
            <ul class="c-header__menu-lista">
              <li class="c-header__menu-item cerrar" id="cerrar-menu"><a href="#!"><img src="../images/icons/cancel.svg" alt="cerrar"></a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="iniciativa-idea.html">Iniciativa IDEA</a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="#!">Programas</a>
                <ul class="c-header__submenu">
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-inspira.html">IDEA Inspira</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-start.html">IDEA Start</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="comunidad-idea.html">Comunidad IDEA</a></li>
                </ul>
              </li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="https://iniciativaidea.org/">Foro IDEA</a></li>
              <!--li: a(href="#!") News-->
              <!--li: a(href="#!") Convocatorias-->
            </ul>
          </nav>
        </div>
        <div class="c-header__buscar"><a href="#!"><img src="../images/icons/i-search.svg"></a></div>
        <div class="c-header__mobil" id="menu-mobil"><img src="../images/icons/i-hamburguer.svg"></div>
      </div>
    </header>
    <main class="idea-start">
      <section class="c-banner-principal c-banner-principal--gris">
        <div class="container">
          <ul class="c-banner-principal__menu">
            <li><a href="idea-inspira.html" title="IDEA Inspira">IDEA Inspira</a></li>
            <li><a class="active" href="#!" title="IDEA Start">IDEA Start</a></li>
          </ul>
          <div class="c-banner-principal__texto">
            <h1 class="u-color-texto--morado">¿Qué es?</h1>
            <p><strong>IDEA Start</strong> es un programa de convocatoria periódica dirigido a <strong>descubrir, incubar y acelerar empresas y organizaciones</strong> que quieran fortalecer sus modelos y planes de negocio enfocados en el desarrollo de soluciones <strong>que impacten en la salud y los derechos reproductivos de millones de mujeres y hombres</strong> a través de sus productos y servicios innovadores.</p>
          </div>
        </div>
      </section>
      <section class="c-banner-imagen-full c-banner-imagen-full--reversa">
        <div class="c-banner-imagen-full__container container">
          <div class="c-banner-imagen-full__texto">
            <h2 class="u-color-texto--morado">¿Qué soluciones buscamos?</h2>
            <p><strong>Para lograr el impacto esperado las soluciones deben apuntar a superar grandes barreras en tres áreas clave:</strong></p>
            <ul class="c-banner-imagen-full__texto--lista-morado">
              <li>El desarrollo de la educación sexual integral, la disponibilidad de anticonceptivos modernos y eficaces, y el acceso al aborto legal y seguro.</li>
              <li>Las leyes y políticas públicas que son restrictivas de estos derechos.</li>
              <li>Los patrones socioculturales que perpetúan los prejuicios contra el ejercicio de los derechos reproductivos.</li>
            </ul>
          </div>
          <div class="c-banner-imagen-full__imagen"><img class="lazy" src="#" data-src="../images/idea-start/soluciones.png" alt="Tienes una idea"></div>
        </div>
      </section>
      <section class="c-lista-ordenada c-lista-ordenada--morado c-lista-ordenada--fondo-gris">
        <div class="container">
          <h2 class="c-lista-ordenada__titulo">¿Qué sectores o industrias pueden participar?</h2>
          <ul class="c-lista-ordenada__lista">
            <li>
              <p class="c-lista-ordenada__lista--titulo">Educación y salud</p>Buscamos soluciones incluyentes de <strong>industrias de la educación y la salud que impulsan la información y educación sexual integral</strong>, y que mejoran el acceso a consejería y servicios integrales de salud sexual y reproductiva, en especial aquellos enfocados en la expansión de la telemedicina.
            </li>
            <li>
              <p class="c-lista-ordenada__lista--titulo">Innovación tecnológica</p>Soluciones de <strong>industrias tecnológicas que integran ecosistemas de HealthTech, CivicTech, SexTech y FemTech</strong> y exploran el desarrollo de tecnologías como big data, data mining, datos abiertos, inteligencia artificial, blockchain, 3D, VR, IoT, APPs, wearables, videojuegos, etc.
            </li>
            <li>
              <p class="c-lista-ordenada__lista--titulo">Plataformas creativas</p>Soluciones de <strong>industrias creativas y de la comunicación que impulsan la incidencia en leyes y políticas públicas</strong> y la transformación de patrones socioculturales.
            </li>
          </ul>
        </div>
      </section>
      <section class="c-imagen-texto c-imagen-texto--morado">
        <div class="c-imagen-texto__container container">
          <div class="c-imagen-texto__imagen"><img class="lazy" src="#" data-src="../images/idea-start/beneficios.png" alt="¿Por qué la salud y derechos reproductivos en América Latina?"></div>
          <div class="c-imagen-texto__texto">
            <h2 class="c-imagen-texto__texto--titulo">¿Cuáles son los beneficios de participar en IDEA START?</h2>
            <ul class="c-imagen-texto__texto--lista">
              <li>Mentoría y fortalecimiento empresarial (ventas, mercados, procesos operativos, finanzas e impacto) a cargo de personas expertas de alto nivel en innovación social y emprendimiento.</li>
              <li>Fortalecimiento del modelo y plan de negocios como preparación para el proceso de recibir inversión.</li>
              <li>Desarrollo de tu red de contactos con otras empresas y organizaciones de la región para potenciar tu impacto.</li>
              <li>Visibilidad para dar a conocer a tu empresa u organización ante potenciales inversores o clientes.</li>
              <li>Formación especializada en salud y derechos reproductivos y la situación de este mercado en expansión.</li>
              <li>La posibilidad de ganar US $15.000 en capital semilla mediante los Premios IDEA</li>
            </ul>
          </div>
        </div>
        <div class="c-imagen-texto__container container">
          <div class="c-imagen-texto__imagen"><img class="lazy" src="#" data-src="../images/idea-start/requisitos.png" alt="¿Por qué la salud y derechos reproductivos en América Latina?"></div>
          <div class="c-imagen-texto__texto">
            <h2 class="c-imagen-texto__texto--titulo">¿Cuáles son los requisitos para participar?</h2>
            <ul class="c-imagen-texto__texto--lista">
              <li>Que la solución innovadora o modelo de negocio responda al propósito de IDEA Start.</li>
              <li>Tener un producto o servicio que esté siendo validado en el mercado, ya sea en etapa de ideación avanzada, primeras ventas o escalamiento.</li>
              <li>Tener un equipo dedicado a la empresa u organización, con disponibilidad de la persona con mayor responsabilidad para participar del programa.</li>
              <li>Estar basada en uno de los países de América Latina.</li>
              <li>Si tu solución es seleccionada, deberás firmar un compromiso de responsabilidad para completar el proceso de mentoría.</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="c-texto-solo c-texto-solo--morado">
        <div class="container">
          <p>El Programa IDEA Start nació en 2020 fruto de la alianza entre la Iniciativa IDEA, ALTERNA e IMPAQTO, dos empresas sociales líderes en el ámbito del emprendimiento de impacto social en América Latina. La convocatoria tuvo un enfoque subregional (Sudamérica y Centroamérica & México) y cada proceso estuvo liderado por IMPAQTO y ALTERNA, respectivamente. A la convocatoria lanzada en junio se presentaron en total 88 solicitudes de empresas y organizaciones, de las que finalmente se seleccionaron 29 (13, Sudamérica y 16, Centroamérica & México) para formar parte del programa.</p>
          <hr class="c-texto-solo__divisor">
          <p>En noviembre de 2020 se realizó el proceso de selección, mediante competición de Pitch, de las 3 ideas finalistas de Sudamérica. Las 3 finalistas de Centroamérica & México serán elegidas mediante el mismo formato en marzo de 2021.</p>
          <p>Las 6 finalistas competirán en la final de Pitch que se celebrará durante el Foro IDEA 2021 por 1 de los 3 Premios IDEA (capital semilla de US $15,000), ante un jurado de personalidades expertas en las áreas de creatividad, innovación, emprendimiento social y derechos reproductivos.</p>
        </div>
      </section>
      <section class="c-tabs c-tabs--gris">
        <div class="container">
          <h2 class="c-tabs__titulo">Logros IDEA Start 2020</h2>
          <dl class="c-tabs__tabs" id="c-tabs__tabs">
            <dt class="c-tabs__tabs-titulo active">Convocatoria 2020</dt>
            <dd class="c-tabs__tabs-contenido">
              <ul class="c-tabs__cifras">
                <li>
                  <p class="c-tabs__cifras-cantidad">88</p>
                  <p class="c-tabs__cifras-descripcion">Aplicaciones recibidas</p>
                </li>
                <li>
                  <p class="c-tabs__cifras-cantidad">29</p>
                  <p class="c-tabs__cifras-descripcion">Empresas y organizaciones participantes</p>
                </li>
                <li>
                  <p class="c-tabs__cifras-cantidad">6</p>
                  <p class="c-tabs__cifras-descripcion">Finalistas</p>
                </li>
                <li>
                  <p class="c-tabs__cifras-cantidad">3</p>
                  <p class="c-tabs__cifras-descripcion">Ganadoras de los Premios IDEA</p>
                </li>
              </ul>
            </dd>
            <dt class="c-tabs__tabs-titulo">Finalistas 2020</dt>
            <dd class="c-tabs__tabs-contenido">
              <ul class="c-tabs__finalistas">
                <li><img class="lazy c-tabs__finalistas-imagen" src="#" data-src="../images/idea-start/finalistas/creadoras-camp.png" alt="primer finalista">
                  <p class="c-tabs__finalistas-descripcion">Proyecto disruptivo pionero dirigido a jóvenes creadoras de contenido digital latinoamericanas, que buscan maximizar su audiencia e influencia y tienen una actitud positiva sobre los derechos de las mujeres.</p>
                </li>
                <li><img class="lazy c-tabs__finalistas-imagen" src="#" data-src="../images/idea-start/finalistas/lunar-app.png" alt="primer finalista">
                  <p class="c-tabs__finalistas-descripcion">Lunar App es la primera aplicación gratuita sobre salud sexual femenina creada en Argentina en 2016. Hoy cuenta con una comunidad de más de 23.000 usuarias en 93 países.</p>
                </li>
                <li><img class="lazy c-tabs__finalistas-imagen" src="#" data-src="../images/idea-start/finalistas/posta.png" alt="primer finalista">
                  <p class="c-tabs__finalistas-descripcion">Productora de podcasts más grande de Argentina, seguida por millones de personas en otros países. Se trata de un nuevo medio diseñado para una audiencia curiosa que buscan sorprenderse con algo diferente.</p>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
      </section>
      <section class="c-formulario-extenso c-formulario-extenso--morado">
        <div class="container">
          <h2 class="c-formulario-extenso__titulo">Formulario de interés en participar en el <br> programa IDEA Start.</h2>
          <form class="c-formulario-extenso__formulario" action="" method="GET">
            <div class="c-formulario-extenso__formulario--campo">
              <label>Nombre completo:</label>
              <input type="text" name="nombre">
            </div>
            <div class="c-formulario-extenso__formulario--campo">
              <label>Correo electrónico:</label>
              <input type="email" name="correo">
            </div>
            <div class="c-formulario-extenso__formulario--campo">
              <label>Teléfono: <small>(Para mensajes)</small></label>
              <input type="tel" name="telefono">
            </div>
            <div class="c-formulario-extenso__formulario--campo">
              <label>País</label>
              <select name="pais">
                <option>País 1</option>
                <option>País 2</option>
                <option>País 3</option>
                <option>País 4</option>
              </select>
            </div>
            <div class="c-formulario-extenso__formulario--campo">
              <label>Nombre de tu empresa/organización: <small>(Si no es una persona individual)</small></label>
              <input type="text" name="empresa">
            </div>
            <div class="c-formulario-extenso__formulario--campo">
              <label>Sitio web: <small>(opcional)</small></label>
              <input type="url" name="web">
            </div>
            <div class="c-formulario-extenso__formulario--campos-extra">
              <h3 class="c-formulario-extenso__subtitulo">¿En cuál de los sectores o industrias piensas que encaja tu solución?</h3>
              <ul class="c-formulario-extenso__formulario--lista c-formulario-extenso__formulario--lista-simple">
                <li>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="recibir"><span>Educación y salud</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="recibir"><span>Innovación tecnológica</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="recibir"><span>Plataformas creativas</span>
                    </label>
                  </div>
                </li>
              </ul>
              <h3 class="c-formulario-extenso__subtitulo">Cuéntanos por qué te interesa participar en IDEA Start y un resumen del trabajo que realiza tu empresa/organización en el ámbito de la salud y los derechos reproductivos:</h3>
              <textarea maxlength="100" placeholder="100 palabras máximo"></textarea>
              <button class="btn btn-morado" type="submit"><span>Enviar</span></button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="bg-black clr-white">
      <div class="container">
        <div class="columna logos_footer">
          <div class="flex"><a href="#!"><img src="../images/logos/logo_iniciativa_white_footer.svg" alt="Iniciativa Idea"></a><a href="#!"><img src="../images/logos/logo_planned_white_footer.png" alt="Planned Parenthood"></a></div>
          <p><a href="https://www.greengeeks.com/" target="_blank" rel="nofollow"><img src="../images/footer/greenwebsite.png" alt="Green Website"></a> <span>Low impact website powered by <a href="https://www.weareplanta.com/" target="_blank">Planta</a></span></p>
        </div>
        <div class="columna links">
          <ul>
            <li><a href="mailto:contacto@iniciativaidea.org">contacto@iniciativaidea.org</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.instagram.com/iniciativaidea/" target="_blank" title="Instagram"><img src="../images/logos/logo_instagram.svg" alt="instragram"></a></li>
            <li><a href="https://www.facebook.com/IniciativaIDEA/" target="_blank" title="Facebook"><img src="../images/logos/logo_facebook.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/IniciativaIDEA" target="_blank" title="Twitter"><img src="../images/logos/logo_twitter.svg" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/iniciativa-idea/" target="_blank" title="Linkedin"><img src="../images/logos/logo_linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA" target="_blank" title="Youtube"><img src="../images/logos/youtube.svg" alt="youtube"></a></li>
          </ul>
          <p>Iniciativa IDEA © Copyright 2020</p>
        </div>
        <div class="columna form">
          <p>¿Quieres recibir nuestro newsletter?</p>
          <form>
            <input type="text" placeholder="Nombre completo">
            <input type="text" placeholder="Email">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
