dist/dev/sections/interna-speaker.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Interna Agenda - Iniciativa Idea</title>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/global/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="../images/global/favicon-36x36.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="../images/global/favicon-48x48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="../images/global/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="shortcut icon" href="../images/global/favicon-144x144.png" type="image/png" sizes="144x144">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__fixed">
        <div class="c-header__content">
          <div class="c-header__logos"><a class="c-header__logos-item" href="../index.html"><img class="c-header__logos-principal" src="../images/logos/logo_iniciativa_color.svg" alt="logo - Iniciativa Idea"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideMobil" src="../images/logos/logo_planned_black.png" alt="logo - Planned Parenthood"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideEscritorio" src="../images/logos/planned-parenthood-vertical.svg" alt="logo - Planned Parenthood"></a>
          </div>
          <nav class="c-header__menu">
            <ul class="c-header__menu-lista">
              <li class="c-header__menu-item cerrar" id="cerrar-menu"><a href="#!"><img src="../images/icons/cancel.svg" alt="cerrar"></a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="iniciativa-idea.html">Iniciativa IDEA</a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="#!">Programas</a>
                <ul class="c-header__submenu">
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-inspira.html">IDEA Inspira</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-start.html">IDEA Start</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="comunidad-idea.html">Comunidad IDEA</a></li>
                </ul>
              </li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="https://iniciativaidea.org/">Foro IDEA</a></li>
              <!--li: a(href="#!") News-->
              <!--li: a(href="#!") Convocatorias-->
            </ul>
          </nav>
        </div>
        <div class="c-header__buscar"><a href="#!"><img src="../images/icons/i-search.svg"></a></div>
        <div class="c-header__mobil" id="menu-mobil"><img src="../images/icons/i-hamburguer.svg"></div>
      </div>
    </header>
    <main class="c-interna-agenda">
      <div class="c-interna-agenda__regresar">
        <div class="c-interna-agenda__regresar-container container"><a class="c-interna-agenda__enlace" href="agenda.html"><span class="c-interna-agenda__regresar-icon"><img class="lazy" src="#" data-src="../images/logos/arrow-back.svg"></span> Regresar</a></div>
      </div>
      <div class="c-interna-agenda">
        <div class="c-interna-agenda__container container">
          <div class="c-interna-agenda__ponente">
            <div class="c-interna-agenda__ponente-imagen"><img class="lazy" src="" data-src="https://fakeimg.pl/265/"></div>
            <div class="c-interna-agenda__ponente-descripcion">
              <h1 class="c-interna-agenda__ponente-titulo">Catalina Ruiz Navarro</h1>
              <h2 class="c-interna-agenda__ponente-subtitulo">Fundadora y Directora Creadoras Camp</h2>
              <h3 class="c-interna-agenda__ponente-pais">COLOMBIA</h3>
              <ul class="c-contenido-speakers__contenido-redes-sociales c-contenido-speakers__contenido-redes-sociales--interna-speaker">
                <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/twitter-blanco.svg" alt="twitter"></a></li>
                <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/instagram-blanco.svg" alt="instagram"></a></li>
                <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/linkedin-blanco.svg" alt="linkedin"></a></li>
              </ul>
            </div>
          </div>
          <div class="c-interna-agenda__contenido">
            <p>Feminista colombiana autora del libro “Las mujeres que luchan se encuentran”, columnista del diario El Espectador desde 2008. Co-fundadora y directora de Volcánicas (volcanicas.com), fundadora y directora de Creadoras Camp, y una de las fundadoras del colectivo feminista colombiano Viejas Verdes. Ha sido columnista de el portal Sin Embargo y Vice en México, Univisión en Estados Unidos y el periódico El Heraldo y la revista Razón Pública en Colombia. Su trabajo como periodista ha sido publicado en periódicos internacionales como The Guardian y The Washington Post. En noviembre de 2016 dictó el TEDx Talk “Hablemos de feminismos” en la ciudad de Bogotá.</p>
            <p>Es una de las expertas en género y feminismo del SheSource del Women’s Media Center y hace parte del Consejo Consultivo de la ONG alemana Centre For Feminist Foreign Policy. Ha sido consultora en comunicación estratégica y derechos humanos para la Foundation for a Just Society (FJS) y el Centro por la Justicia y el Derecho Internacional (CEJIL) y el Instituto Interamericano de Derechos Humanos (IIDH). Ha trabajado con organizaciones internacionales como Oxfam y Planned Parenthood Global en el diseño de estrategias digitales para la promoción de los derechos de las mujeres. En 2017 fue co-fundadora de la revista Volcánica, la revista feminista latinoamericana de Nómada y fue su directora hasta 2019. Fue cofundadora del proyecto de Youtube Estereotipas (2015-2017), que recibió los premios Chiuku de MTV Agentes de Cambio, en la categoría de “Equidad de género”; el premio #LeadHers de Marie Claire América Latina en la categoría de “Políticamente incorrectas”; el premio Ciudad de México a la Acción Ciudadana del Año por la campaña #MiPrimerAcoso en 2016. Ha trabajado como Oficial de Comunicaciones en Women’s Link Worldwide bajo la mentoría de Mónica Roa y como Coordinadora de Comunicaciones para JASS Mesoamérica (Asociadas por lo justo) en donde trabajó con defensoras de derechos humanos indígenas y rurales en Centroamérica. También fue profesora de Periodismo de Opinión en la Facultad de Comunicación de la Universidad Javeriana y de Periodismo Digital en la Universidad Jorge Tadeo Lozano.</p>
            <p>Es maestra en Artes Visuales con énfasis en Artes Plásticas y Filósofa de la Universidad Javeriana.</p>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-black clr-white">
      <div class="container">
        <div class="columna logos_footer">
          <div class="flex"><a href="#!"><img src="../images/logos/logo_iniciativa_white_footer.svg" alt="Iniciativa Idea"></a><a href="#!"><img src="../images/logos/logo_planned_white_footer.png" alt="Planned Parenthood"></a></div>
          <p><a href="https://www.greengeeks.com/" target="_blank" rel="nofollow"><img src="../images/footer/greenwebsite.png" alt="Green Website"></a> <span>Low impact website powered by <a href="https://www.weareplanta.com/" target="_blank">Planta</a></span></p>
        </div>
        <div class="columna links">
          <ul>
            <li><a href="mailto:contacto@iniciativaidea.org">contacto@iniciativaidea.org</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.instagram.com/iniciativaidea/" target="_blank" title="Instagram"><img src="../images/logos/logo_instagram.svg" alt="instragram"></a></li>
            <li><a href="https://www.facebook.com/IniciativaIDEA/" target="_blank" title="Facebook"><img src="../images/logos/logo_facebook.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/IniciativaIDEA" target="_blank" title="Twitter"><img src="../images/logos/logo_twitter.svg" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/iniciativa-idea/" target="_blank" title="Linkedin"><img src="../images/logos/logo_linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA" target="_blank" title="Youtube"><img src="../images/logos/youtube.svg" alt="youtube"></a></li>
          </ul>
          <p>Iniciativa IDEA © Copyright 2020</p>
        </div>
        <div class="columna form">
          <p>¿Quieres recibir nuestro newsletter?</p>
          <form>
            <input type="text" placeholder="Nombre completo">
            <input type="text" placeholder="Email">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
  </body>
</html>

src/html/sections/interna-speaker.pug
//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'interna-agenda.html'
- page[ 'title' ] 		= 'Interna Agenda'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.c-interna-agenda
			.c-interna-agenda__regresar
				.c-interna-agenda__regresar-container.container
					a.c-interna-agenda__enlace(href="agenda.html") #[span.c-interna-agenda__regresar-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/arrow-back.svg")]] Regresar

			.c-interna-agenda
				.c-interna-agenda__container.container
					.c-interna-agenda__ponente
						.c-interna-agenda__ponente-imagen
							img.lazy(src="" data-src="https://fakeimg.pl/265/")

						.c-interna-agenda__ponente-descripcion
							h1.c-interna-agenda__ponente-titulo Catalina Ruiz Navarro
							h2.c-interna-agenda__ponente-subtitulo Fundadora y Directora Creadoras Camp
							h3.c-interna-agenda__ponente-pais COLOMBIA

							ul.c-contenido-speakers__contenido-redes-sociales.c-contenido-speakers__contenido-redes-sociales--interna-speaker
								li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/twitter-blanco.svg" alt="twitter")
								li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/instagram-blanco.svg" alt="instagram")
								li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/linkedin-blanco.svg" alt="linkedin")

					.c-interna-agenda__contenido
						p Feminista colombiana autora del libro “Las mujeres que luchan se encuentran”, columnista del diario El Espectador desde 2008. Co-fundadora y directora de Volcánicas (volcanicas.com), fundadora y directora de Creadoras Camp, y una de las fundadoras del colectivo feminista colombiano Viejas Verdes. Ha sido columnista de el portal Sin Embargo y Vice en México, Univisión en Estados Unidos y el periódico El Heraldo y la revista Razón Pública en Colombia. Su trabajo como periodista ha sido publicado en periódicos internacionales como The Guardian y The Washington Post. En noviembre de 2016 dictó el TEDx Talk “Hablemos de feminismos” en la ciudad de Bogotá.

						p Es una de las expertas en género y feminismo del SheSource del Women’s Media Center y hace parte del Consejo Consultivo de la ONG alemana Centre For Feminist Foreign Policy. Ha sido consultora en comunicación estratégica y derechos humanos para la Foundation for a Just Society (FJS) y el Centro por la Justicia y el Derecho Internacional (CEJIL) y el Instituto Interamericano de Derechos Humanos (IIDH). Ha trabajado con organizaciones internacionales como Oxfam y Planned Parenthood Global en el diseño de estrategias digitales para la promoción de los derechos de las mujeres. En 2017 fue co-fundadora de la revista Volcánica, la revista feminista latinoamericana de Nómada y fue su directora hasta 2019. Fue cofundadora del proyecto de Youtube Estereotipas (2015-2017), que recibió los premios Chiuku de MTV Agentes de Cambio, en la categoría de “Equidad de género”; el premio #LeadHers de Marie Claire América Latina en la categoría de “Políticamente incorrectas”; el premio Ciudad de México a la Acción Ciudadana del Año por la campaña #MiPrimerAcoso en 2016. Ha trabajado como Oficial de Comunicaciones en Women’s Link Worldwide bajo la mentoría de Mónica Roa y como Coordinadora de Comunicaciones para JASS Mesoamérica (Asociadas por lo justo) en donde trabajó con defensoras de derechos humanos indígenas y rurales en Centroamérica. También fue profesora de Periodismo de Opinión en la Facultad de Comunicación de la Universidad Javeriana y de Periodismo Digital en la Universidad Jorge Tadeo Lozano.

						p Es maestra en Artes Visuales con énfasis en Artes Plásticas y Filósofa de la Universidad Javeriana.

		include ../template/_footer

		include ../template/_scripts
