src/html/sections/interna-agenda.pug
//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'interna-agenda.html'
- page[ 'title' ] 		= 'Interna Agenda'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.c-interna-agenda
			.c-interna-agenda__regresar
				.c-interna-agenda__regresar-container.container
					a.c-interna-agenda__enlace(href="agenda.html") #[span.c-interna-agenda__regresar-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/arrow-back.svg")]] Regresar a Agenda

			.c-interna-agenda
				.c-interna-agenda__container.container
					ul.c-interna-agenda__compartir
						li.c-interna-agenda__item: a.c-interna-agenda__item-enlace(href="#!") #[span.c-interna-agenda__item-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/i-calendar.svg")]] Agregar al calendario
						li.c-interna-agenda__item: a.c-interna-agenda__item-enlace(href="#!") #[span.c-interna-agenda__item-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/facebook-blanco.svg")]]
						li.c-interna-agenda__item: a.c-interna-agenda__item-enlace(href="#!") #[span.c-interna-agenda__item-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/twitter-blanco.svg")]]
						li.c-interna-agenda__item: a.c-interna-agenda__item-enlace(href="#!") #[span.c-interna-agenda__item-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/i-mail.svg")]]
						li.c-interna-agenda__item Compartir

					h1.c-interna-agenda__titulo MAIN STAGE Toniic Presents for Investors: "Journey Through The Portal" - Global Discussions for and with Impact Investors. Starting our Journey in Asia Pacific

					p.c-interna-agenda__fecha #[span.c-interna-agenda__fecha-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/i-clock.svg")]] 8:00 PM / 8:10 PM CDT — 6:00 PM / 6:10 PM PST

					.c-interna-agenda__contenido
						p "Historically, pandemics have forced humans to break with the past and imagine their world anew. This one is no different. It is a portal, a gateway between one world and the next."

						p This quote from Indian author Suzanna Arundhati Roy is our inspiration for a set of SOCAP pre-events specifically for impact investors.

						p As a global network of individual investors, family offices and private foundations committed to aligning our wealth with our values, Toniic is ideally suited to curate these pre-events - to challenge ourselves and each other to help shape a fairer, more sustainable future.

					h2.c-interna-agenda__subtitulo Ponentes

					ul.c-contenido-speakers__speakers.c-contenido-speakers__speakers--interna-agenda
						- var n = 0
						while n < 2
							- n ++
							li.c-contenido-speakers__item
								a(href="#!").c-contenido-speakers__imagen
									img.lazy(src="#" data-src="https://fakeimg.pl/250/" alt="speaker")

								.c-contenido-speakers__contenido
									.c-contenido-speakers__contenido-nombre Catalina Ruiz Navarro Catalina Ruiz Navarro
									.c-contenido-speakers__contenido-pais COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA
									.c-contenido-speakers__contenido-profesion Fundadora y Directora Creadoras Camp

									ul.c-contenido-speakers__contenido-redes-sociales
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/twitter-blanco.svg" alt="twitter")
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/instagram-blanco.svg" alt="instagram")
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/linkedin-blanco.svg" alt="linkedin")

		include ../template/_footer

		include ../template/_scripts

dist/dev/sections/interna-agenda.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Interna Agenda - Iniciativa Idea</title>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/global/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="../images/global/favicon-36x36.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="../images/global/favicon-48x48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="../images/global/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="shortcut icon" href="../images/global/favicon-144x144.png" type="image/png" sizes="144x144">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__fixed">
        <div class="c-header__content">
          <div class="c-header__logos"><a class="c-header__logos-item" href="../index.html"><img class="c-header__logos-principal" src="../images/logos/logo_iniciativa_color.svg" alt="logo - Iniciativa Idea"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideMobil" src="../images/logos/logo_planned_black.png" alt="logo - Planned Parenthood"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideEscritorio" src="../images/logos/planned-parenthood-vertical.svg" alt="logo - Planned Parenthood"></a>
          </div>
          <nav class="c-header__menu">
            <ul class="c-header__menu-lista">
              <li class="c-header__menu-item cerrar" id="cerrar-menu"><a href="#!"><img src="../images/icons/cancel.svg" alt="cerrar"></a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="iniciativa-idea.html">Iniciativa IDEA</a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="#!">Programas</a>
                <ul class="c-header__submenu">
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-inspira.html">IDEA Inspira</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-start.html">IDEA Start</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="comunidad-idea.html">Comunidad IDEA</a></li>
                </ul>
              </li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="https://iniciativaidea.org/">Foro IDEA</a></li>
              <!--li: a(href="#!") News-->
              <!--li: a(href="#!") Convocatorias-->
            </ul>
          </nav>
        </div>
        <div class="c-header__buscar"><a href="#!"><img src="../images/icons/i-search.svg"></a></div>
        <div class="c-header__mobil" id="menu-mobil"><img src="../images/icons/i-hamburguer.svg"></div>
      </div>
    </header>
    <main class="c-interna-agenda">
      <div class="c-interna-agenda__regresar">
        <div class="c-interna-agenda__regresar-container container"><a class="c-interna-agenda__enlace" href="agenda.html"><span class="c-interna-agenda__regresar-icon"><img class="lazy" src="#" data-src="../images/logos/arrow-back.svg"></span> Regresar a Agenda</a></div>
      </div>
      <div class="c-interna-agenda">
        <div class="c-interna-agenda__container container">
          <ul class="c-interna-agenda__compartir">
            <li class="c-interna-agenda__item"><a class="c-interna-agenda__item-enlace" href="#!"><span class="c-interna-agenda__item-icon"><img class="lazy" src="#" data-src="../images/logos/i-calendar.svg"></span> Agregar al calendario</a></li>
            <li class="c-interna-agenda__item"><a class="c-interna-agenda__item-enlace" href="#!"><span class="c-interna-agenda__item-icon"><img class="lazy" src="#" data-src="../images/logos/facebook-blanco.svg"></span></a></li>
            <li class="c-interna-agenda__item"><a class="c-interna-agenda__item-enlace" href="#!"><span class="c-interna-agenda__item-icon"><img class="lazy" src="#" data-src="../images/logos/twitter-blanco.svg"></span></a></li>
            <li class="c-interna-agenda__item"><a class="c-interna-agenda__item-enlace" href="#!"><span class="c-interna-agenda__item-icon"><img class="lazy" src="#" data-src="../images/logos/i-mail.svg"></span></a></li>
            <li class="c-interna-agenda__item">Compartir</li>
          </ul>
          <h1 class="c-interna-agenda__titulo">MAIN STAGE Toniic Presents for Investors: "Journey Through The Portal" - Global Discussions for and with Impact Investors. Starting our Journey in Asia Pacific</h1>
          <p class="c-interna-agenda__fecha"><span class="c-interna-agenda__fecha-icon"><img class="lazy" src="#" data-src="../images/logos/i-clock.svg"></span> 8:00 PM / 8:10 PM CDT — 6:00 PM / 6:10 PM PST</p>
          <div class="c-interna-agenda__contenido">
            <p>"Historically, pandemics have forced humans to break with the past and imagine their world anew. This one is no different. It is a portal, a gateway between one world and the next."</p>
            <p>This quote from Indian author Suzanna Arundhati Roy is our inspiration for a set of SOCAP pre-events specifically for impact investors.</p>
            <p>As a global network of individual investors, family offices and private foundations committed to aligning our wealth with our values, Toniic is ideally suited to curate these pre-events - to challenge ourselves and each other to help shape a fairer, more sustainable future.</p>
          </div>
          <h2 class="c-interna-agenda__subtitulo">Ponentes</h2>
          <ul class="c-contenido-speakers__speakers c-contenido-speakers__speakers--interna-agenda">
            <li class="c-contenido-speakers__item"><a class="c-contenido-speakers__imagen" href="#!"><img class="lazy" src="#" data-src="https://fakeimg.pl/250/" alt="speaker"></a>
              <div class="c-contenido-speakers__contenido">
                <div class="c-contenido-speakers__contenido-nombre">Catalina Ruiz Navarro Catalina Ruiz Navarro</div>
                <div class="c-contenido-speakers__contenido-pais">COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA</div>
                <div class="c-contenido-speakers__contenido-profesion">Fundadora y Directora Creadoras Camp</div>
                <ul class="c-contenido-speakers__contenido-redes-sociales">
                  <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/twitter-blanco.svg" alt="twitter"></a></li>
                  <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/instagram-blanco.svg" alt="instagram"></a></li>
                  <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/linkedin-blanco.svg" alt="linkedin"></a></li>
                </ul>
              </div>
            </li>
            <li class="c-contenido-speakers__item"><a class="c-contenido-speakers__imagen" href="#!"><img class="lazy" src="#" data-src="https://fakeimg.pl/250/" alt="speaker"></a>
              <div class="c-contenido-speakers__contenido">
                <div class="c-contenido-speakers__contenido-nombre">Catalina Ruiz Navarro Catalina Ruiz Navarro</div>
                <div class="c-contenido-speakers__contenido-pais">COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA</div>
                <div class="c-contenido-speakers__contenido-profesion">Fundadora y Directora Creadoras Camp</div>
                <ul class="c-contenido-speakers__contenido-redes-sociales">
                  <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/twitter-blanco.svg" alt="twitter"></a></li>
                  <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/instagram-blanco.svg" alt="instagram"></a></li>
                  <li class="c-contenido-speakers__contenido-red"><a href="#"><img class="lazy" src="#" data-src="../images/logos/linkedin-blanco.svg" alt="linkedin"></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="bg-black clr-white">
      <div class="container">
        <div class="columna logos_footer">
          <div class="flex"><a href="#!"><img src="../images/logos/logo_iniciativa_white_footer.svg" alt="Iniciativa Idea"></a><a href="#!"><img src="../images/logos/logo_planned_white_footer.png" alt="Planned Parenthood"></a></div>
          <p><a href="https://www.greengeeks.com/" target="_blank" rel="nofollow"><img src="../images/footer/greenwebsite.png" alt="Green Website"></a> <span>Low impact website powered by <a href="https://www.weareplanta.com/" target="_blank">Planta</a></span></p>
        </div>
        <div class="columna links">
          <ul>
            <li><a href="mailto:contacto@iniciativaidea.org">contacto@iniciativaidea.org</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.instagram.com/iniciativaidea/" target="_blank" title="Instagram"><img src="../images/logos/logo_instagram.svg" alt="instragram"></a></li>
            <li><a href="https://www.facebook.com/IniciativaIDEA/" target="_blank" title="Facebook"><img src="../images/logos/logo_facebook.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/IniciativaIDEA" target="_blank" title="Twitter"><img src="../images/logos/logo_twitter.svg" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/iniciativa-idea/" target="_blank" title="Linkedin"><img src="../images/logos/logo_linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA" target="_blank" title="Youtube"><img src="../images/logos/youtube.svg" alt="youtube"></a></li>
          </ul>
          <p>Iniciativa IDEA © Copyright 2020</p>
        </div>
        <div class="columna form">
          <p>¿Quieres recibir nuestro newsletter?</p>
          <form>
            <input type="text" placeholder="Nombre completo">
            <input type="text" placeholder="Email">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
