dist/dev/sections/programas.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inicio - Iniciativa Idea</title>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/global/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="../images/global/favicon-36x36.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="../images/global/favicon-48x48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="../images/global/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="shortcut icon" href="../images/global/favicon-144x144.png" type="image/png" sizes="144x144">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__fixed">
        <div class="c-header__content">
          <div class="c-header__logos"><a class="c-header__logos-item" href="../index.html"><img class="c-header__logos-principal" src="../images/logos/logo_iniciativa_color.svg" alt="logo - Iniciativa Idea"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideMobil" src="../images/logos/logo_planned_black.png" alt="logo - Planned Parenthood"></a><a class="c-header__logos-item" href="index.html"><img class="c-header__logos-secundario hideEscritorio" src="../images/logos/planned-parenthood-vertical.svg" alt="logo - Planned Parenthood"></a>
          </div>
          <nav class="c-header__menu">
            <ul class="c-header__menu-lista">
              <li class="c-header__menu-item cerrar" id="cerrar-menu"><a href="#!"><img src="../images/icons/cancel.svg" alt="cerrar"></a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="iniciativa-idea.html">Iniciativa IDEA</a></li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="#!">Programas</a>
                <ul class="c-header__submenu">
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-inspira.html">IDEA Inspira</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="idea-start.html">IDEA Start</a></li>
                  <li class="c-header__submenu-item"><a class="c-header__submenu-enlace" href="comunidad-idea.html">Comunidad IDEA</a></li>
                </ul>
              </li>
              <li class="c-header__menu-item"><a class="c-header__menu-enlace" href="https://iniciativaidea.org/">Foro IDEA</a></li>
              <!--li: a(href="#!") News-->
              <!--li: a(href="#!") Convocatorias-->
            </ul>
          </nav>
        </div>
        <div class="c-header__buscar"><a href="#!"><img src="../images/icons/i-search.svg"></a></div>
        <div class="c-header__mobil" id="menu-mobil"><img src="../images/icons/i-hamburguer.svg"></div>
      </div>
    </header>
    <main class="programas">
      <section class="intro">
        <div class="container">
          <ul>
            <li><a href="idea-inspira.html" title="IDEA Inspira">IDEA Inspira</a></li>
            <li><a class="active" href="#i!" title="IDEA Start">IDEA Start</a></li>
          </ul>
          <div class="texto active">
            <h1>¿Quiénes somos?</h1>
            <p>IDEA Start es un programa impulsado por la Iniciativa IDEA, el Laboratorio de Innovación Social de Planned Parenthood Global, junto a ALTERNA e IMPAQTO, <strong>que busca descubrir, incubar y acelerar empresas de impacto social y organizaciones sostenibles</strong> que trabajan en salud y derechos reproductivos en América Latina.</p>
          </div>
        </div>
      </section>
      <section class="informacion">
        <div class="container">
          <div class="texto">
            <h2>¿Por qué la salud y derechos reproductivos en América Latina?</h2>
            <p>El desarrollo de América Latina es obstaculizado por el problema básico de que las personas no tienen acceso a la información y los servicios de salud reproductiva necesarios para poder decidir su futuro, lo que provoca, entre otras, las siguientes consecuencias.</p>
          </div>
          <div class="imagen"><img class="lazy" src="#" data-src="https://fakeimg.pl/1080x570/" alt="¿Por qué la salud y derechos reproductivos en América Latina?"></div>
        </div>
      </section>
      <section class="iconos">
        <div class="container">
          <ul>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/embarazo.svg" alt="imagen"></div>
              <p>El 65% de las mujeres en edad reproductiva desea evitar un embarazo y no pueden hacerlo. (UNFPA, 2017)</p>
            </li>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/prueba.svg" alt="imagen"></div>
              <p>Es la única región en el mundo donde aumenta el número de embarazos en niñas menores de 15 años (PAHO, UNFPA, UNICEF, 2017) y, cada año, más de 2 millones de adolescentes entre 15 y 18 años se embarazan, impactando su trayectoria educativa y oportunidades laborales.</p>
            </li>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/pastillas.svg" alt="imagen"></div>
              <p>24 millones de mujeres tienen una necesidad insatisfecha de métodos anticonceptivos modernos. (UNFPA, 2017)</p>
            </li>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/violencia.svg" alt="imagen"></div>
              <p>Mas de 1 millón de ninas y adolecentes han sufriso violencia sexual. (UNICEF, 2017)</p>
            </li>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/ley.svg" alt="imagen"></div>
              <p>Aunque la interrupción del embarazo es un procedimiento médicamente sencillo y seguro, 760.000 mujeres son tratadas anualmente por complicaciones derivadas de la necesidad de recurrir al aborto inseguro. (GUTTMACHER INSTITUTE, 2017)</p>
            </li>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/reproduccion.svg" alt="imagen"></div>
              <p>Más del 97% de las mujeres en edad reproductiva viven en países donde la interrupción del embarazo está altamente restringida por ley y patrones socioculturales. (GUTTMACHER INSTITUTE, 2017)</p>
            </li>
          </ul>
          <h2>Ante esta situación, invitamos a desarrollar soluciones que avancen:</h2>
          <ul>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/servicio.svg" alt="imagen"></div>
              <p>El acceso a servicios de salud sexual y reproductiva integrales.</p>
            </li>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/transformacion.svg" alt="imagen"></div>
              <p>La transformación de patrones socioculturales que perpetúan los prejuicios sobre el ejercicio de los derechos reproductivos.</p>
            </li>
            <li>
              <div class="imagen"><img class="lazy" src="#" data-src="../images/programas/incidencia.svg" alt="imagen"></div>
              <p>La incidencia política para el cambio de leyes restrictivas con los derechos reproductivos.</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="articulos">
        <div class="container">
          <div class="articulo">
            <div class="texto">
              <h2>¿Qué buscamos?</h2>
              <p>Impulsar empresas y organizaciones con el objetivo de que sean más sostenibles, alcancen un mayor impacto y se adapten mejor a los cambios en su entorno para responder a las necesidades y demandas en materia de salud y derechos reproductivos en América Latina.</p>
            </div>
            <div class="imagen"><img src="https://fakeimg.pl/1080x570/" alt="¿Qué buscamos?"></div>
          </div>
          <div class="articulo">
            <div class="texto">
              <h2>¿Cómo?</h2>
              <p>A través de programas de acompañamiento y mentorías:</p>
              <ul>
                <li>Fortalecemos el modelo de negocio de empresas y organizaciones que buscan tener un impacto positivo en la región y las preparamos para el proceso de recibir inversión</li>
                <li>Ofrecemos la posibilidad de acceder a capital semilla para que empresas y organizaciones puedan escalar su impacto.</li>
                <li>Conectamos a las empresas y organizaciones con otras iniciativas e inversores de la región.</li>
              </ul>
            </div>
            <div class="imagen"><img src="../images/programas/como.jpg" alt="¿Cómo?"></div>
          </div>
        </div>
      </section>
      <section class="programa">
        <div class="container">
          <h2>IDEA Start es un programa de</h2>
          <ul>
            <li><img src="https://fakeimg.pl/210x125/" alt="Planned"></li>
            <li><img src="https://fakeimg.pl/210x125/" alt="Iniciativa Idea"></li>
            <li><img src="https://fakeimg.pl/210x125/" alt="Impa QTO"></li>
            <li><img src="https://fakeimg.pl/210x125/" alt="Alterna"></li>
          </ul>
        </div>
      </section>
    </main>
    <footer class="bg-black clr-white">
      <div class="container">
        <div class="columna logos_footer">
          <div class="flex"><a href="#!"><img src="../images/logos/logo_iniciativa_white_footer.svg" alt="Iniciativa Idea"></a><a href="#!"><img src="../images/logos/logo_planned_white_footer.png" alt="Planned Parenthood"></a></div>
          <p><a href="https://www.greengeeks.com/" target="_blank" rel="nofollow"><img src="../images/footer/greenwebsite.png" alt="Green Website"></a> <span>Low impact website powered by <a href="https://www.weareplanta.com/" target="_blank">Planta</a></span></p>
        </div>
        <div class="columna links">
          <ul>
            <li><a href="mailto:contacto@iniciativaidea.org">contacto@iniciativaidea.org</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.instagram.com/iniciativaidea/" target="_blank" title="Instagram"><img src="../images/logos/logo_instagram.svg" alt="instragram"></a></li>
            <li><a href="https://www.facebook.com/IniciativaIDEA/" target="_blank" title="Facebook"><img src="../images/logos/logo_facebook.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/IniciativaIDEA" target="_blank" title="Twitter"><img src="../images/logos/logo_twitter.svg" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/iniciativa-idea/" target="_blank" title="Linkedin"><img src="../images/logos/logo_linkedin.svg" alt="linkedin"></a></li>
            <li><a href="https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA" target="_blank" title="Youtube"><img src="../images/logos/youtube.svg" alt="youtube"></a></li>
          </ul>
          <p>Iniciativa IDEA © Copyright 2020</p>
        </div>
        <div class="columna form">
          <p>¿Quieres recibir nuestro newsletter?</p>
          <form>
            <input type="text" placeholder="Nombre completo">
            <input type="text" placeholder="Email">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
  </body>
</html>

src/html/sections/programas.pug
//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'programas.html'
- page[ 'title' ] 		= 'Inicio'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header


		main.programas
			section.intro
				.container
					ul
						li: a(href="idea-inspira.html" title="IDEA Inspira") IDEA Inspira
						li: a.active(href="#i!" title="IDEA Start") IDEA Start

					.texto.active
						h1 ¿Quiénes somos?

						p IDEA Start es un programa impulsado por la Iniciativa IDEA, el Laboratorio de Innovación Social de Planned Parenthood Global, junto a ALTERNA e IMPAQTO, #[strong que busca descubrir, incubar y acelerar empresas de impacto social y organizaciones sostenibles] que trabajan en salud y derechos reproductivos en América Latina.

			section.informacion
				.container
					.texto
						h2 ¿Por qué la salud y derechos reproductivos en América Latina?

						p El desarrollo de América Latina es obstaculizado por el problema básico de que las personas no tienen acceso a la información y los servicios de salud reproductiva necesarios para poder decidir su futuro, lo que provoca, entre otras, las siguientes consecuencias.

					.imagen
						img.lazy(src="#" data-src="https://fakeimg.pl/1080x570/" alt="¿Por qué la salud y derechos reproductivos en América Latina?")

			section.iconos
				.container
					ul
						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/embarazo.svg" alt="imagen")
							p El 65% de las mujeres en edad reproductiva desea evitar un embarazo y no pueden hacerlo. (UNFPA, 2017)

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/prueba.svg" alt="imagen")
							p Es la única región en el mundo donde aumenta el número de embarazos en niñas menores de 15 años (PAHO, UNFPA, UNICEF, 2017) y, cada año, más de 2 millones de adolescentes entre 15 y 18 años se embarazan, impactando su trayectoria educativa y oportunidades laborales.

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/pastillas.svg" alt="imagen")
							p 24 millones de mujeres tienen una necesidad insatisfecha de métodos anticonceptivos modernos. (UNFPA, 2017)

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/violencia.svg" alt="imagen")
							p Mas de 1 millón de ninas y adolecentes han sufriso violencia sexual. (UNICEF, 2017)

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/ley.svg" alt="imagen")
							p Aunque la interrupción del embarazo es un procedimiento médicamente sencillo y seguro, 760.000 mujeres son tratadas anualmente por complicaciones derivadas de la necesidad de recurrir al aborto inseguro. (GUTTMACHER INSTITUTE, 2017)

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/reproduccion.svg" alt="imagen")
							p Más del 97% de las mujeres en edad reproductiva viven en países donde la interrupción del embarazo está altamente restringida por ley y patrones socioculturales. (GUTTMACHER INSTITUTE, 2017)

					h2 Ante esta situación, invitamos a desarrollar soluciones que avancen:

					ul
						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/servicio.svg" alt="imagen")
							p El acceso a servicios de salud sexual y reproductiva integrales.

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/transformacion.svg" alt="imagen")
							p La transformación de patrones socioculturales que perpetúan los prejuicios sobre el ejercicio de los derechos reproductivos.

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/incidencia.svg" alt="imagen")
							p La incidencia política para el cambio de leyes restrictivas con los derechos reproductivos.

			section.articulos
				.container
					.articulo
						.texto
							h2 ¿Qué buscamos?

							p Impulsar empresas y organizaciones con el objetivo de que sean más sostenibles, alcancen un mayor impacto y se adapten mejor a los cambios en su entorno para responder a las necesidades y demandas en materia de salud y derechos reproductivos en América Latina.

						.imagen
							img(src="https://fakeimg.pl/1080x570/" alt="¿Qué buscamos?")

					.articulo
						.texto
							h2 ¿Cómo?

							p A través de programas de acompañamiento y mentorías:

							ul
								li Fortalecemos el modelo de negocio de empresas y organizaciones que buscan tener un impacto positivo en la región y las preparamos para el proceso de recibir inversión
								li Ofrecemos la posibilidad de acceder a capital semilla para que empresas y organizaciones puedan escalar su impacto.
								li Conectamos a las empresas y organizaciones con otras iniciativas e inversores de la región.

						.imagen
							img(src=urlFolder+"images/programas/como.jpg" alt="¿Cómo?")

			section.programa
				.container
					h2 IDEA Start es un programa de

					ul
						li: img(src="https://fakeimg.pl/210x125/" alt="Planned")
						li: img(src="https://fakeimg.pl/210x125/" alt="Iniciativa Idea")
						li: img(src="https://fakeimg.pl/210x125/" alt="Impa QTO")
						li: img(src="https://fakeimg.pl/210x125/" alt="Alterna")


		include ../template/_footer
		
		include ../template/_scripts
